{% extends "base.html" %}
{% block section %}ledger{% endblock %}

{% include "alat/neraca_bulan.html" %}
<link type="text/css" href="/static/css/smoothness/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
<script src="/static/js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.meio.mask.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
   $("#id_start_date").datepicker({dateFormat: 'yy-mm-dd'});
   $("#id_end_date").datepicker({dateFormat: 'yy-mm-dd'});  
});
</script>
{% load useringroup number_format %}

{% block content %}
{% load number_format useringroup %}
<h2 align="right"> MENU NERACA BULANAN</h2>  
<table id="tabel" align="center">
<form method="GET" action="/mankeu/neraca_pjb_month/">{% csrf_token %}
   <li><label for="id_cabang">Kode Cabang</label> :
      <select id="id_id_cabang" data-placeholder="None" class="chosen-select" name="id_cabang">
            <option value="" selected="selected">---------</option>
            <option value="0">BANDUNG_pjb</option> <option value="1">JAKARTA</option><option value="2">SUCI</option><option value="3">DIPATIUKUR</option>
            <option value="4">BALUBUR</option><option value="5">GERLONG GIRANG</option><option value="6">GERLONG HILIR</option><option value="7">KOPO</option>
            <option value="8">CIBIRU</option><option value="9">CIPACING</option><option value="10">JATINANGOR</option><option value="11">CIMAHI</option>
            <option value="12">BUAH BATU</option><option value="13">KORDON</option><option value="14">CIHANJUANG</option><option value="15">MARANATA</option>
            <option value="16">KIARACONDONG</option><option value="17">CIREBON PERJUANGAN</option><option value="18">CIREBON </option><option value="19">CIUMBELEUIT</option>
            <option value="20">UJUNGBERUNG - PJB</option>
      </select>      
   </li>
   {{ form.as_ul }}
   <br>
   <li>&nbsp;<input type="submit" value="VIEW" class="cari"/></li>
</form>
</table>
<br>

{% if akun %}
<h3 style='text-align: center'><b>NERACA BULANAN </b></h3>
<h3 style='text-align: center'><b> UNIT PJB</b>
</small>GERAI 
   {% if id_cabang = '0' %}PUSAT{%endif%}{% if id_cabang = '1' %}JAKARTA{%endif%}{% if id_cabang = '2' %}SUCI{%endif%}{% if id_cabang = '3' %}DIPATIUKUR{%endif%}
   {% if id_cabang = '4' %}BALUBUR{%endif%}{% if id_cabang = '6' %}GERLONG HILIR{%endif%}{% if id_cabang = '7' %}KOPO{%endif%}{% if id_cabang = '8' %}CIBIRU{%endif%}
   {% if id_cabang = '9' %}CIPACING{%endif%}{% if id_cabang = '10' %}JATINAMGOR{%endif%}{% if id_cabang = '11' %}CIMAHI{%endif%}{% if id_cabang = '12' %}BUAH BATU{%endif%}
   {% if id_cabang = '13' %}KORDON{%endif%}{% if id_cabang = '14' %}CIHANJUANG{%endif%}{% if id_cabang = '15' %}MARANATA{%endif%}{% if id_cabang = '16' %}KIARACONDONG{%endif%}{% if id_cabang = '17' %}CIREBON PERJUANGN{%endif%}
   {% if id_cabang = '18' %}CIREBON{%endif%}{% if id_cabang = '19' %}CIUMBELEUIT{%endif%}{% if id_cabang = '113' %}UJUNG BERUNG{%endif%}
</small>
<h3 style='text-align: center'><b> Periode : {{ month }} - {{ year }} </b></h3>


<table align="left" width="570" height="550">
	<thead>
	     <tr>
			<th colspan="2" ><span style="font-weight: bold; text-decoration: underline;">AKTIVA</th>
		 </tr>
	    <tr>
	        <th style="vertical-align: top; background-color: rgb(142, 142, 142);">Account</th>		
	       <th style="vertical-align: top; background-color: rgb(142, 142, 142);">Saldo Akhir</th>
	    </tr>
	</thead>
{% for d in akun%}
        {% if d.tes_coa == 0 and d.kode_guna == 1 %} 
	<tbody>  
	<tr  {% if d.header_parent.id = 1%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id %}  {% else %} class="row_nenek" {% endif%}
	      {% if d.header_parent.id = 266%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 388%} class="row_anak" {% else %}  {% endif%}	 
	      {% if d.header_parent.id = 406%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 449%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 540%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 547%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 555%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 560%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 2%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 191%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 207%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 267%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 337%} class="row_cucu" {% else %}  {% endif%} 	 
	      {% if d.header_parent.id = 381%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 407%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 450%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 2%} class="row_cucu" {% else %}  {% endif%}>
		 <td>{{ d.deskripsi }}<small> {{d.id}}</small></td>		 
		 <td style="text-align:right">{{d.saldo_akhir}}</td>
	</tr>
	</tbody>
           {% endif %}
	 {% endfor %}
	 <tr>	
	    <th colspan = '1' style="vertical-align: top; background-color: rgb(142, 142, 142);">Total</th>
	    <th style="vertical-align: top; background-color: rgb(142, 142, 142);">0</th>
	 </tr>
</table>

<table align="right" width="570" height="550">
	<thead>
		 <tr>
			<th colspan="2" ><span style="font-weight: bold; text-decoration: underline;">PASIVA & EKUITAS</span></th>
		 </tr>
	    <tr>
		    
	       <th style="vertical-align: top; background-color: rgb(142, 142, 142);">Account</th>		
	       <th style="vertical-align: top; background-color: rgb(142, 142, 142);">Saldo Akhir</th>
	    </tr>
	</thead>
{% for d in akun%}
        {% if d.tes_coa == 0 and d.kode_guna != 1 %} 
	<tbody>  
	<tr  {% if d.header_parent.id = 1%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id %}  {% else %} class="row_nenek" {% endif%}
	      {% if d.header_parent.id = 266%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 388%} class="row_anak" {% else %}  {% endif%}	 
	      {% if d.header_parent.id = 406%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 449%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 540%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 547%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 555%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 560%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 2%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 191%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 207%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 267%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 337%} class="row_cucu" {% else %}  {% endif%} 	 
	      {% if d.header_parent.id = 381%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 407%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 450%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 2%} class="row_cucu" {% else %}  {% endif%}>
		 <td>{{ d.deskripsi }}<small> {{d.id}}</small></td>		 
		 <td style="text-align:right">{{ d.saldo_akhir }} </td>
	</tr>
	</tbody>
           {% endif %}
	 {% endfor %}
	 <tr>	
	    <th colspan = '1' style="vertical-align: top; background-color: rgb(142, 142, 142);">Total</th>
	    <th style="vertical-align: top; background-color: rgb(142, 142, 142);">0</th>
	 </tr>
</table>
{% else %}
<p>Tidak ada data neraca</p>
{% endif %}
<link rel="stylesheet" href="/static/chosen/static/css/chosen.css">
<script src="/static/chosen/static/js/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
</script>
{% endblock %}
