{% extends "base_aplikasi.html" %}
{% block section %}Jurnal_Transaksi{% endblock %}
{% block extrahead %}
{% include "alat/sidebar.html" %}{% include "alat/jurnal.html" %}
{% load useringroup number_format %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
{% load number_format useringroup %}
{% if tampil or saldo_awal %}
<h2>REKAPITULASI TRANSAKSI   <small>DIV PJB</small>{{cabang.kode_cabang}}&nbsp; <a href="/kasirgerai/{{cabang.kode_cabang}}/cetak_all_transaksi_bank/" ><img src="/static/printer.png"  height="22" width="22" title="Transaksi Non Tunai"></a>
<!--
<a href="/kasirgerai/{{cabang.kode_cabang}}/posting_akhir_hari/"  onclick="if (confirm('YAKIN  AKAN MELAKUKAN POSSTING HARIAN TRANSAKSI KASIR ??')) { var f = document.createElement('form');f.csrfmiddlewaretoken= csrftoken; f.style.display = 'None'; this.parentNode.appendChild(f);  f.action = this.href; f.submit(); }; return false;">{% csrf_token %}<button class ="next" align="center">POSTING TRANSAKSI HARIAN</button></a>
<a href="/kasirgerai/{{cabang.kode_cabang}}/cetak_all_transaksi_bank/" ><img src="/static/printer.png"  height="22" width="22" title="Transaksi Non Tunai"></a>
-->
</h2>
<h3 style='text-align: center'><b> LAPORAN TRANSAKSI NON TUNAI</b></h3>
<h3 style='text-align: center'><b><small>Gerai : {{ kocab }}  &nbsp;Periode : {{sekarang|date:"d-M-Y"}}<!--{{sekarang|date:"d-M-Y"}} --></small> </b></h3>
<form method="POST" action="/kasirgerai/{{kocab.kode_cabang}}/posting_akhir_hari/">{% csrf_token %}
<table class="list">
<tr>
	<th colspan="3">SALDO</th>
</tr>
	<tbody>
                <!--
		<tr>
			<td>Saldo Awal</td>
			<td align="right"> {{saldo_awal|number_format:0}},00</td>
			<td></td>
		</tr>
		-->
                <tr class="row_anak">
			<td><b>Total Saldo Awal</b></td>
			<td></td>
			<td><b> {{total_saldo|number_format:0}},00</b></td>
                 </tr>
		 <tr>
                        <th colspan="3">PENERIMAAN</th>
                </tr>
		
		<tr>
			<td>Setoran Antar Gerai</td>
			<td align="right"></td>
			<td></td>
		</tr>
		{% for a in setoran_kas_gerai %} {% if a.debet > 0 %}
		<tr>
        	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}}) </td>
			<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.debet|number_format:0}},00</td>	
			<td></td>
        </tr>
		{% endif %}{% endfor %}
		{% for a in setoran_bank_gerai %} {% if a.kredit > 0 %}
		<tr>
        	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
			<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.kredit|number_format:0}},00</td>	
			<td></td>
        </tr>
		{% endif %}{% endfor %}

		<tr>
            <td>Pelunasan</td>
			<td align="right"> </td>
			<td></td>
                </tr>

		{% for a in total_pelunasan %} {% if a.kredit > 0 %}
                <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
                        <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.kredit|number_format:0}},00</td>
                        <td></td>
        </tr>
                {% endif %}{% endfor %}
        
         
        <tr>
            <td>Penerimaan Gadai Ulang</td>
                        <td align="right"> </td>
                        <td></td>
                </tr>
				{% for a in ak_ulang %} {% if a.kredit > 0 %}
                <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
                        <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.kredit|number_format:0}},00</td>
                        <td></td>
        </tr>
        {% endif %}{% endfor %}

		<!--<tr>
			<td>Hasil Lelang Barang Lapur</td>
			<td align="right"></td>
			<td></td>
		</tr>

		{% for a in penjualan %} {% if a.debet > 0%}
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
          <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.debet|number_format:0}},00</td>
                        <td></td>
        </tr>
        {% endif %}{% endfor %}-->
		
		<tr>
            <td>Pendapatan Operasional Lainnya</td>
			<td align="right"></td>
			<td></td>
        </tr>
        {% for a in pencairan_kasir_sisa %} {% if a.kredit > 0 %}
		<tr>
        	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
			<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.kredit|number_format:0}},00</td>	
			<td></td>
        </tr>
		{% endif %}{% endfor %}
		

                <tr>
            <td>Titipan Kelebihan Pelunasan</td>
                        <td align="right"></td>
                        <td></td>
        </tr>
        {% for a in pelunasan_kelebihan_kasir %} {% if a.kredit > 0 %}
                <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
                        <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.kredit|number_format:0}},00</td>
                        <td></td>
        </tr>
                {% endif %}{% endfor %}

            <td>Titipan Kelebihan Gadai Ulang</td>
                        <td align="right"></td>
                        <td></td>
        </tr>
        {% for a in gadai_ulang_kelebihan_kasir %} {% if a.kredit > 0 %}
                <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
                        <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.kredit|number_format:0}},00</td>
                        <td></td>
        </tr>
                {% endif %}{% endfor %}

        
        <tr class="row_anak">
            <td><b>Total Penerimaan</b></td>
			<td></td>
			<td align="left"><b> {{total_penerimaan|number_format:0}},00</b></td>
        </tr>


		<tr><th colspan="3">PENGELUARAN</th></tr>
		<tr>
            <td>Pengeluaran Antar Gerai </td>
			<td align="right"> </td>
			<td></td>
        </tr>
		<!--{% for a in pengembalian_bank %} {% if a.debet > 0 %}
		<tr>
        	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
			<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.debet|number_format:0}},00</td>	
			<td></td>
        </tr>
		{% endif %}{% endfor %}-->
		{% for a in pengembalian_bank %} {% if a.debet > 0 %}
		<tr>
        	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
			<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.debet|number_format:0}},00</td>	
			<td></td>
        </tr>
		{% endif %}{% endfor %}

		<tr>
            <td>Pencairan</td>
			<td align="right"></td>
			<td></td>
        </tr>	
		{% for a in t_kasir %} {% if a.debet > 0 %}
                <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
                        <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.debet|number_format:0}},00</td>
                        <td></td>
        </tr>
                {% endif %}{% endfor %}

              <tr>
            <td>Pengeluaran Gadai Ulang </td>
                        <td align="right"></td>
                        <td></td>
                </tr>
		{% for a in pengeluaran_gadai_ulang %} {% if a.debet > 0 %}
                <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} - {{ a.id_coa.deskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
                        <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.debet|number_format:0}},00</td>
                        <td></td>
        </tr>
        {% endif %}{% endfor %}

       {% for a in akad_ulang_pengeluaran %} {% if a.debet > 0 %}
                <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} - {{ a.id_coa.deskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
                        <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.debet|number_format:0}},00</td>
                        <td></td>
        </tr>
        {% endif %}{% endfor %}



        <tr>
            <td>Biaya </td>
			<td align="right"></td>
			<td></td>
                </tr>
		
		{% for a in transaksi_jurnal %} {% if a.debet > 0 %}
		<tr>
        	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} - {{ a.id_coa.deskripsi}} (Tiket Jurnal = {{a.jurnal.no_akad}})</td>
			<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.debet|number_format:0}},00</td>	
			<td></td>
        </tr>
	{% endif %}{% endfor %}

		<tr class="row_anak">
            <td><b>Total Pengeluaran</b></td>
			<td></td>
			<td> <b> {{total_pengeluaran|number_format:0}},00</b></td>
        </tr>
		<tr class="row_anak">
			<td align="center"><b>Saldo Akhir</b></td>
			<td></td>
			<td align="right"><b> {{saldo_akhir|number_format:0}},00</b></td>
        </tr>
		<tr class="row_anak">
            <td align="center"><b>Saldo Yang Disetor ke Pusat (BANK)</b></td>
			<td></td>
			<td align="right"><b>{{pengembalian_bank_pusat_pjb|number_format:0}},00</b></td>
        </tr>

        <tr class="row_anak">
            <td align="center"><b>Saldo Akhir Bank Gerai</b></td>
			<td></td>
			<td align="right"><b> {{saldo_keseluruhan|number_format:0}},00</b></td>
        </tr>
 

	</tbody>
</table>
</form>
	
{%else%}<h2 align="center"><b> :::: POSTING TRANSAKSI HARIAN KASIR BERHASIL ::::</b></h2>
{% endif %}
{% endblock %}


