<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<title>REKAP PELUNASAN GERAI</title>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
@media screen, print {
body, td, th { font-size: 12px; font-family: verdana; }
}
@media print { .print { display: none; } }
</style>
<style type="text/css">
table.tableizer-table {border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif; font-size: 10px;} .tableizer-table td {padding: 3px; margin: 2px; border: 1px solid #ccc;}
.tableizer-table th {background-color: #FF9933; color: #FFF; font-weight: bold;}
</style>
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/js/master.js"></script>
<script language="javascript">
<!--
function printpage() { window.print(); }

//-->
</script>
</head>
<body onload="printpage();">
{% load number_format %}
<p class="print">[ <a href="#" onclick="printpage()">Print</a> | <a href="/kasirgerai/{{cabang.kode_cabang}}/transaksi_kas_pusat/">Kembali</a> ]</p>

<table width="100%">
<tr><td width="100" align="center">
<img src="/static/img/logoksu.png" width="150" height="110" align="left" hspace="20"/>
<h2>REKAPITULASI TRANSAKSI   <small>DIV PJB</small>{{cabang.kode_cabang}}&nbsp;

<h3 style='text-align: center'><b> LAPORAN TRANSAKSI NON TUNAI</b></h3>
<h3 style='text-align: center'><b><small>Gerai : {{ kocab }}  &nbsp;Periode : {{sekarang|date:"d-M-Y"}}<!--{{sekarang|date:"d-M-Y"}} --></small> </b></h3>

<table width="1000" border="1" bordercolor="silver" align='center'>
<tr>
	<th colspan="3">SALDO</th>
</tr>
	<tbody>

                <tr class="row_anak">
			<td><b>Total Saldo Awal</b></td>
			<td></td>
			<td><b> {{total_saldo|number_format:0}},00</b></td>
                 </tr>
		 <tr>
                        <th colspan="3">PENERIMAAN</th>
                </tr>
		
		<tr>
			<td>Setoran Antar Gerai</td>
			<td align="right"></td>
			<td></td>
		</tr>
		{% for a in pendapatan_1 %} {% if a.debet > 0 %}
		<tr>
        	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} </td>
			<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.debet|number_format:0}},00</td>	
			<td></td>
        </tr>
		{% endif %}{% endfor %}
		

		<tr>
            <td>Setoran Lainnya</td>
			<td align="right"> </td>
			<td></td>
        </tr>

		{% for a in jrn_pendapatan %} {% if a.debet > 0 %}
		<tr>
        	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} </td>
			<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.debet|number_format:0}},00</td>	
			<td></td>
        </tr>
		{% endif %}{% endfor %}


        <tr class="row_anak">
            <td><b>Total Penerimaan</b></td>
			<td></td>
			<td align="left"><b> {{total_penerimaan|number_format:0}},00</b></td>
        </tr>


		<tr><th colspan="3">PENGELUARAN</th></tr>
		<tr>
            <td>Pengeluaran Antar Gerai </td>
			<td align="right"> </td>
			<td></td>
        </tr>

		{% for a in pengeluaran_1 %} {% if a.kredit > 0 %}
		<tr>
        	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} </td>
			<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.kredit|number_format:0}},00</td>	
			<td></td>
        </tr>
		{% endif %}{% endfor %}


		<tr>
            <td>Pengeluaran Lainnya</td>
			<td align="right"> </td>
			<td></td>
        </tr>

		{% for a in jrn_pengeluaran %} {% if a.kredit > 0 %}
		<tr>
        	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.jurnal.diskripsi}} </td>
			<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a.kredit|number_format:0}},00</td>	
			<td></td>
        </tr>
		{% endif %}{% endfor %}


		<tr class="row_anak">
            <td><b>Total Pengeluaran</b></td>
			<td></td>
			<td> <b> {{total_pengeluaran|number_format:0}},00</b></td>
        </tr>
		<tr class="row_anak">
			<td align="center"><b>Saldo Akhir</b></td>
			<td></td>
			<td align="right"><b> {{saldo_akhir|number_format:0}},00</b></td>
        </tr>


	</tbody>
</table>


