<style>
div.img {margin: 5px;padding: 5px;border: 1px solid #0000ff;height: auto;width: auto;float: left; text-align: center;
}

div.img img {display: inline;margin: 5px;border: 1px solid #ffffff;
}

div.img a:hover img {border:1px solid #0000ff;
}

div.desc {text-align: center;font-weight: normal;width: 120px;margin: 5px;
}
</style>

<style type="text/css">
@media screen, print {
body, td, th { font-size: 10px; font-family: verdana; }
}
@media print { .print { display: none; } }
</style>
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/js/master.js"></script>
<script language="javascript">
 function printpage() { window.print(); }
</script>
<body onload="printpage();">
{% load number_format %}
<p class="print">[ <a href="#" onclick="printpage()">Print</a> | <a href="/">Kembali</a> ]</p>
<td colspan="3" height="10"><h3 align="center">
<tr>MEMO CREDIT COMMITEE PJB</tr>
</td>
<td colspan="3" height="10"><h3 align="center">
<tr>GERAI {{gadai.gerai.nama_cabang}}</tr>
</td>

</br>
</br>
</h3>
<tr>
 
 <table border=0 align="center">

    <td colspan="2" height="10"><h3>DATA NASABAH</h3></td>
    <td  height="10" align ="left"'><h3>DATA NASABAH DOMISILI</h3></td>
   <tr>
       <td>KEANGGOAAN </td>
       <td>: {{gadai.agnasabah.get_jenis_keanggotaan_display}}</td>
      
       <td>ALAMAT DOMISILI</td>
       <td>: {{gadai.agnasabah.alamat_domisili}} {{gadai.agnasabah.no_rumah_domisili}}</td>
   </tr>

    <tr>
        <td>NAMA </td>
        <td>: {{gadai.agnasabah.nama}}</td>        

        <td>RT - RW DOMISILI </td>
        <td>: {{gadai.agnasabah.rt_domisili}} / {{gadai.agnasabah.rw_domisili}}</td>
    </tr>
    <tr>
        <td>TEMPAT LAHIR </td>
        <td>: {{gadai.agnasabah.tempat}}</td>

        <td>KELURAHAN DOMISILI </td>
        <td>: {{gadai.agnasabah.kelurahan_domisili}}</td>        
    </tr>
  
    <tr>
        <td>TANGGAL LAHIR </td>
        <td>: {{gadai.agnasabah.tgl_lahir}}</td>

       <td>KECAMATAN DOMISILI </td>
        <td>: {{gadai.agnasabah.kecamatan_domisili}}</td>
    </tr>

    <tr>
        <td>JENIS KELAMIN </td>
        <td>: {{gadai.agnasabah.get_jenis_kelamin_display}}</td>

        <td>KOTAMADYA DOMISILI </td>
        <td>: {{gadai.agnasabah.kotamadya_domisili}}</td>

    </tr>

    <tr>        
        <td>NO KTP  </td>
        <td>: {{gadai.agnasabah.no_ktp}}</td>        

        <td>KABUPATEN DOMISILI</td>
        <td>: {{gadai.agnasabah.kabupaten_domisili}}</td>
    </tr>
    
    <tr>
        <td>ALAMAT KTP</td>
        <td>: {{gadai.agnasabah.alamat_ktp}} {{gadai.agnasabah.no_rumah_ktp}}</td>

        <td>KODEPOS</td>
        <td>: {{gadai.agnasabah.kode_pos}}</td>        

    </tr>
    <tr>
        <td>RT - RW KTP </td>
        <td>: {{gadai.agnasabah.rt_ktp}} / {{gadai.agnasabah.rw_ktp}}</td>
   
        <td>TELEPON DOMISILI</td>
        <td>: {{gadai.agnasabah.telepon_domisili}}</td>
    </tr>   
    
    <tr>
        <td>KELURAHAN KTP </td>
        <td>: {{gadai.agnasabah.kelurahan_ktp}}</td>
        
        <td>HP DOMISIL</td>
        <td>: {{gadai.agnasabah.hp_domisili}}</td>
        
    </tr>
    
    <tr>
        <td>KECAMATAN KTP </td>
        <td>: {{gadai.agnasabah.kecamatan_ktp}}</td>        
       
        <td>EMAIL</td>
        <td>: {{gadai.agnasabah.email}}</td>

    </tr>

    <tr>
       <td>KOTAMADYA KTP </td>
       <td>: {{gadai.agnasabah.kotamadya_ktp}}</td>
       
       <td><h3><b>DATA LOAN FILE</b><h3></td>
       <td></td>

    </tr>

    <tr>
       <td>KABUPATEN KTP</td>
       <td>: {{gadai.agnasabah.kabupaten_ktp}}</td>

      <td>TANGGAL </td>
      <td>: {{gadai.tanggal|date:"d-M-Y"}}</td>    
   </tr>
    
    <tr>
        <td>STATUS  </td>
        <td>: {{gadai.agnasabah.get_jenis_pekerjaan_display}}</td>

        <td>NILAI PLAFON</td>
        <td>:  Rp. {{gadai.nilai|number_format:0}}</td>
    </tr>
  
    <tr>
        <td>TELEPON KTP</td>
        <td>: {{gadai.agnasabah.telepon_ktp}}</td>        

        <td>JANGKA WAKTU </td>
        <td>: {% if gadai.jenis_transaksi = '1'  %}{{ gadai.jangka_waktu|default_if_none:"" }} Hari{%else%}
          {{ gadai.jangka_waktu_kendaraan|default_if_none:"" }} Bulan{% endif %}</td>

    </tr>

    <tr>
        <td>HP KTP</td>
        <td>: {{gadai.agnasabah.hp_ktp}}</td>        
  
        <td>NILAI JASA</td>
        <td>: Rp. {%if gadai.jenis_transaksi = '1' %}{{gadai.jasa|number_format:0}}{%else%} {{gadai.jasa_kendaraan|number_format:0}} {%endif%}</td>
    </tr>
    <tr>
        <td>PEKERJAAN</td>
        <td>: {{gadai.agnasabah.get_jenis_pekerjaan_display}}</td>

        <td>NILAI BIAYA SIMPAN </td>
        <td>: Rp. {%if gadai.jenis_transaksi = '1' %}{{gadai.biayasimpan|number_format:0}}{%else%} {{gadai.beasimpan_kendaraan|number_format:0}} {%endif%}</td>
    </tr>

    <tr>
        <td>ALAMAT PEKERJAAN  </td>
        <td>: {{gadai.agnasabah.alamat_kantor}}</td>

        <td>NILAI ADM  </td>
        <td>: Rp. {%if gadai.jenis_transaksi = '1' %}{{gadai.adm|number_format:0}}{%else%} {{gadai.adm_kendaraan|number_format:0}} {%endif%}</td>
    </tr>

    <tr>
       <td>TELEPON KANTOR</td>
       <td>: {{gadai.agnasabah.telepon_kantor}}</td>
    
 
        <td>MATERAI </td>
       <td>: Rp. {{gadai.bea_materai|number_format:0}}</td>
    </tr>

    <tr>
       <td></td>
       <td></td>
 
        <td>TERIMA BERSIH </td>
       <td>: Rp. <b>{{gadai.terima_bersih_all|number_format:0}}</b></td>

    </tr>  


    <td colspan="2" height="10"><h3>DATA PASANGAN NASABAH</h3></td>
    <td  height="10" align ="left"'><h3>DATA JAMINAN</h3></td>
   <td></td>
 

    <tr>
        <td>NAMA PASANGAN</td>
        <td>: {{gadai.agnasabah.nama_pasangan}} </td>    
        <td>JENIS BARANG JAMINAN </td>
        <td>: {% if gadai.jenis_transaksi = '1'  %}{{ gadai.barang.get_jenis_barang_display }} {%else%}
	  {{ gadai.barang.get_jenis_kendaraan_display }} Bulan{% endif %}</td>
    </tr>

    <tr>
        <td>ALAMAT PASANGAN</td>
        <td>: {{gadai.agnasabah.alamat_pasangan}} </td>

        <td>MERK BARANG JAMINAN </td>
        <td>: {{gadai.barang.merk}}</td>
    </tr>
    <tr>
        <td>NO RUMAH PASANGAN</td>
        <td>: {{gadai.agnasabah.no_rumah_pas}} </td>

        <td>TAHUN PEMBUATAN</td>
        <td>: {% if gadai.jenis_transaksi = '1' %} {{gadai.barang.tahun_pembuatan}}{%else%} {{gadai.barang.tahun_pembuatan_kendaraan}}{%endif%}</td>
        
    </tr>
    
    <tr>
        <td>RT/RW PASANGAN</td>
       <td>: {{gadai.agnasabah.no_rt_pas}} / {{gadai.agnasabah.no_rw_pas}}</td>

        <td>JATUH TEMPO</td>
        <td>: {{gadai.jatuhtempo|date:"d-M-Y"}} </td>
     </tr>
     <tr>
        <td>NO TLP PASANGAN</td>
        <td>: {{gadai.agnasabah.tlp_pasangan}} </td>

        <td>TYPE BARANG JAMINAN</td>
        <td>: {% if gadai.jenis_transaksi = '1'  %} {{gadai.barang.type}}{%else%}{{gadai.barang.type_kendaraan|date:"d-M-Y"}}{%endif%}</td>
    </tr>

    <tr>
        <td>JENIS KELAMIN PASANGAN</td>
        <td>: {{gadai.agnasabah.jekel_pasangan}} </td>

        <td>NILAI TAKSIR </td>
        <td>: Rp. {{gadai.taksir.maxpinjaman|number_format:0}}</td>
    </tr>
    


</table>
<br /><br />
<table  width="70%" class="no-break" align = "center">
<tr  align = "center">
  <td align="left"> Bandung, {% now "d-m-Y" %}<br />Yang Membuat,
<br />ADM CABANG
<br />
<br /><br />
<br /><br />
<u><b>________________</b></u><br>
<b>{{gadai.gerai.nama_admin}}</b>
</td>
  
<td align="left"><br />Disposisi,
<br />KEPALA GERAI
<br />
<br /><br />
<br /><br />
<u><b>________________</b></u><br>
<b>{{gadai.gerai.nama_kg}}</b>
</td>

<td align="left"><br />  
<br /><br />
<br /><br />
<br /><br />
<u><b>________________</b></u><br>
<b>ABH</b>
</td>

<td align="left"><br />
<br /><br />
<br /><br />
<br /><br />
<u><b>____________________</b></u><br>
<b>MAN OPRASIONAL</b>
</td>



</tr>
</table>
<br>
<br>
<!--
<div class="img" align="center">
   <a target="_blank" href="/static/{{gadai.berkasgadai_set.all.0.tanda_tangan}}">
    <img src="/static/{{ gadai.berkasgadai_set.all.0.tanda_tangan }}" width="80" height="60" title="berkas Tanda-Tangan">
   </a>
  <div class="desc"></div>
</div>
<div class="img" align="center">
    <a target="_blank" href="/static/{{gadai.berkasgadai_set.all.0.berkas_barang}}">
    <img src="/static/{{ gadai.berkasgadai_set.all.0.berkas_barang }}" width="80" height="60" title="Barang"></a>
  <div class="desc"></div>
</div>
<div class="img">
    <a target="_blank" href="/static/{{gadai.berkasgadai_set.all.0.foto_nasabah}}">
    <img src="/static/{{ gadai.berkasgadai_set.all.0.foto_nasabah }}" width="80" height="60" title="Berkas Nasabah">
  <div class="desc"></div>
</div>
-->

