<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<title>Rekap {{ object.nama }}</title>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
@media screen, print {
body, td, th { font-size: 12px; font-family: verdana; }
}
@media print { .print { display: none; } }
</style>
<style type="text/css">
table.tableizer-table {border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif; font-size: 10px;} .tableizer-table td {padding: 3px; margin: 2px; border: 1px solid #ccc;}
.tableizer-table th {background-color: #FF9933; color: #FFF; font-weight: bold;}
</style>
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/js/master.js"></script>
<script language="javascript">
<!--
function printpage() { window.print(); }

//-->
</script>
</head>
<body onload="printpage();">
{% load number_format %}
<p class="print">[ <a href="#" onclick="printpage()">Print</a> | <a href="/">Kembali</a> ]</p>
<table width="100%">
<tr><td width="100" align="center">
<img src="/static/img/logoksu.png" width="105" height="110" align="left" hspace="20"/>
<h3>DAFTAR PENCAIRAN PINJAMAN HARIAN</h3><br />
<h4>GERAI : {{gr.nama}} </h4>
<h5>Bulan : {% now "d F Y" %}</h5></td></tr>
</table>
<p>&nbsp;</p>
<table class="tableizer-table"width="100%" border="1">
<tr class="tableizer-firstrow"><th rowspan= "2">No</th><th rowspan= "2">Nomor Rekening</th><th rowspan= "2">Nomor Nasabah</th><th rowspan= "2">Nama</th><th rowspan= "2">JW</th><th rowspan= "2">Tanggal Transaksi</th><th rowspan= "2">Jatuh Tempo</th><th rowspan= "2">STATUS</th><th rowspan= "2">Pinjaman</th><th colspan = "3" >TOTAL PENDAPATAN ADM</th></tr>
<tr><th>JASA</th><th>ADM</th><th>Bea SIMPAN</th><tr>
{% for p in ag %}	
<tr><td align="center">{{ forloop.counter }}</td><td align="center">{{ p.norek }}</td><td align="center">{{ p.nonas }}</td><td>{{ p.agnasabah.nama|truncatewords:2 }}</td><td align="center">{{ p.jangka_waktu }}</td><td align="center">{{p.tanggal}}</td><td align="center">{{p.jatuhtempo}}</td><td align="center">{{p.status_transaksi}}</td><td align="center">Rp. {{ p.terima_bersih|number_format:0 }}</td><td align = "center">Rp.{{p.jasa|number_format:0}}</td><td align = "center">Rp.{{p.adm|number_format:0}}</td><td align = "center">Rp.{{p.biayasimpan|number_format:0}}</td></tr>
{% endfor %}
  <tr><th colspan="8" class="r"><strong>Jumlah</strong></th><th >Rp.{{nilai|number_format:0}}</th><th >Rp.{{jasa|number_format:0}}</th><th >Rp.{{adm|number_format:0}}</th><th >Rp.{{simpan|number_format:0}}</th></tr>
</table>
<br/>
<br/>
<table  width="100%" class="no-break">
<tr>
  <td align="center">ADM {{gr.nama}}<br />
<br />
<br />
<br />
<br />
<br />
{{gr.adm_gadai}}
  </td>
  <td align="center">Bandung, {% now "d F Y" %}<br />
KANIT GADAI
<br />
<br />
<br />
<br />
<br />
GUNTUR WIRYAGURNITA
</td></tr>
</table>
