{% extends "base_aplikasi.html" %}
{% block section %}barang{% endblock %}
{% block extrahead %}
{% endblock %}
{% block sidebar %}
<div >
  <h3>DATA PENCAIRAN</h3>
  
  <div class="menu_list" id="secondpane"> 
		<p class="menu_head">Harian</p>
		    <div class="menu_body">
		        {% for d in day_list %}<a href = "/gerai/arsip/?tgl={{d|date:'Y-m-d'}}">{{ d|date:"d M Y"}}</a>{% endfor %}
		    </div>
		<p class="menu_head">Bulanan</p>
		<div class="menu_body">
			{% for m in month_list %}<a href = "/gerai/rekapbulan/?tgl={{m|date:'Y-m-1'}}">{{ m|date:"M Y"}}</a>{% endfor %}
		</div>
		<p class="menu_head">Tahunan</p>
		<div class="menu_body">
          {% for y in year_list %}<a href = "/gerai/rekap_tahun/?tgl={{y|date:'Y-1-1'}}">{{ y|date:"Y"}}</a>{% endfor %}			
       </div>
  </div>      
</div>

<h3> KETERANGAN
<h5>&bull; MERAH = DATA NASABAH LUNAS</h5>
<h5>&bull; HIJAU = NASABAH JATUH TEMPO</h5>
<h5>&bull; KUNING = NASABAH LEWAT JATUH TEMPO</h5>
{% endblock %}
{% block content %}
{% load number_format useringroup %}
<h2 align="center">Rekap Pencairan Gerai  {{tanggal|date:"d F Y "}}</h2>
<span class="contextual"></span>
{% for p in gerai %}

 {% ifchanged  p.gerai %}
 {% if not forloop.first %}</table></form><br />{% else %}{% endif %}
<p align="center"> 
	<b>{{p.get_barang_display|upper}}</b>
	<a href ="/gerai/{{p.gerai.id}}/hari/?tgl={{tanggal|date:'Y-m-d'}}">Gerai :<b> {{ p.gerai}}</b> </a> 	
</p>
<table class="tableizer-table" cellpadding="0" cellspacing="0" border="1" bordercolor="silver " width="100%">
<tr class="tableizer-firstrow">
    <th>Nonas</th>
    <th>Nasabah</th>
    <th>JW</th>
    <th>Nilai(Rp)</th>
    <th>Status Trs</th>
    <th>Barang</th>
    <th>SN/No Mesin</th>
    <th>Transaksi</th>
    <th>Jatuh Tempo</th>
    <th>Jasa(Rp)</th>
    <th>Adm(Rp)</th>
    <th>Bea Simpan(Rp)</th>
    <th>Jumlah(Rp)</th>
    <th>Gudang</th>
    <th>Keuangan</th>
 {% else %}
 {% endifchanged %}
 <tr {% if p.lunas %} class="row_lunas"{% endif %} {% if p.status_gadai %} class="row_status_gadai"{% endif %}{% if p.lewat_jw %} class="row_lewat_jw"{% endif %}>
     
    <td><a href="{{ p.get_absolute_url }}">{{ p.norek }}</a></td>
    <td><a href="/nasabah/{{ p.agnasabah.id }}/show">{{ p.agnasabah.nama }}</a></td>
    <td>{%if p.jangka_waktu_kendaraan %}{{ p.jangka_waktu_kendaraan }} {% else %}{{ p.jangka_waktu }}{%endif%}</td>
    <td>{{ p.nilai|number_format:0 }},-</td>
    <td align="center"> {% if p.lunas %}{{ p.status_transaksi|default_if_none:""}}  {% endif %}{{ p.prpj_status|default_if_none:""}}</td>
    <td>{%if p.jangka_waktu_kendaraan %}{{ p.barang.type_kendaraan}}{%else%} {{p.barang.merk}} {%endif%}</td>
    <td> {%if p.jangka_waktu_kendaraan %} {{p.barang.no_mesin}} {%else%}{{ p.barang.sn }}{%endif%}</td>
    <td>{{ p.tanggal|date:"d M Y " }}</td>
    <td>{{ p.jatuhtempo|date:"d M Y " }}</td>
    <td align = "right">{% if p.jangka_waktu_kendaraan%}{{p.jasa_kendaraan|number_format:0}}{%else%}{{p.jasa|number_format:0}}</td>{%endif%}
    <td align = "right">{% if p.jangka_waktu_kendaraan%}{{p.adm_kendaraan|number_format:0}}{%else%}{{p.adm|number_format:0}}</td>{%endif%}
    <td align = "right">{% if p.jangka_waktu_kendaraan%}{{p.beasimpan_kendaraan|number_format:0}}{%else%}{{p.biayasimpan|number_format:0}}</td>{%endif%}
    <td align = "right">{% if p.jangka_waktu_kendaraan%}{{p.jumlahbiaya_kendaraan|number_format:0}}{%else%}{{p.jumlah_biaya|number_format:0}}</td>{%endif%}
    <td><a href="/barang/{{ p.barang.id }}/tampil/">GUDANG</a></td>
    <td>{% ifusergroup keuangan %}{%if p.status_taksir = '2' %}MELEBIHI NILAI TAKSIR{%else%}{% if p.jangka_waktu_kendaraan  %}<a href="/akadgadai/{{p.id}}/motor/" class="kwitansi">Kendaraan</a>{% else %}
    <a href="/akadgadai/{{p.id}}/prints2/" class="kwitansi">Elektronik</a>{% endif %}{% endif %}{% endifusergroup %}</td>
    </tr>
{% endfor %}
</table>

{% endblock %} 

