{% extends "base_aplikasi.html" %}
{% block title %} {{ block.super }}
{% endblock %}
{% block section %}{% endblock %}
{% block content %}
<link href="/static/new_tmp/css/bootstrap.min.css" rel="stylesheet">
{% load number_format useringroup %}
<h4>Menu Akses Aplikasi  </h4>
<table class="table table-bordered"  id="menu-table">
    <thead >
        <tr>
            <th>Akses Menu</th><th>Jenis Menu</th><th>Nama Menu</th><th>Pengguna</th><th>Menu</th>
        </tr>
    </thead>
    <tbody>
{% regroup orders by akses_group as grouped %}
    {% for a in grouped %}
    {% for p in a.list %}
    <tr>
    {% ifchanged %}
    <td ALIGN="CENTER" rowspan="{{ a.list|length }}">{{p.akses_group }}</td>
    {% endifchanged %}
    {% include 'manop/laporan/menu_list.html' %}
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
  <div class="modal fade" id="modal-menu">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
<script src="/static/new_tmp/js/jquery-3.1.1.min.js"></script>
<script src="/static/new_tmp/js/bootstrap.min.js"></script>
    {% endblock %}
