{% extends "base_aplikasi.html" %}
{% block extrahead %}
<link type="text/css" href="/static/css/smoothness/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
<script src="/static/js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.meio.mask.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.autocomplete.pack.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
   $( "#id_start_date,#id_end_date" ).datepicker({changeMonth: true,
		changeYear: true,firstDay: 1,dateFormat: 'yy-mm-dd',
		}) 
});
</script>
{% endblock %}
{% block section %}JATUH TEMPO{% endblock %}
{% block content %}
{% load number_format useringroup %}

<h2> DATA JATUH TEMPO UNIT PJB </h2>  
<form method="GET" action="/manop/rincian_jatuhtempo/">{% csrf_token %}
   <table id="tabel" align="center">
    <li><label for="id_cabang">Kode Cabang</label> :
      {{form.id_cabang}}     
   </li>
   <br>
   <li><label for="id_tgl_trans">Tanggal </label> :<input type="text" name="start_date" id="id_start_date" size="15" value="{% now "Y-m" %}-01" /> 
   <label for="id_tgl_trans">Tanggal </label> :<input type="text" name="end_date" id="id_end_date" size="15" value="{% now "Y-m-d" %}"/></li>
   <br>
   <li>
       <input type="submit" value="&#187;View" class="simpan" name="submit_satu" value="Add"/>
       <input type="submit" value="&#162;Cetak Xls" class="show" name="submit_tiga"/>&nbsp;
       <input type="submit" value="&#171;Cetak PDF" class="lihat" name="submit_dua"/> &nbsp;
   </li>
   </table>
</form>
<br>
<hr>
{% if tes %}
<h3 style='text-align: center'><b><small>REKAP JATUH TEMPO </small> </b></h3>
   <h3 style='text-align: center'><b><small>UNIT PJB <small><small><small>{{id_cabang}}</small>
</small>
   {% if id_cabang = '500'%}GABUNGAN {%endif%} {% if id_cabang = '301' %}GERAI JAKARTA{%endif%} 
   {% if id_cabang = '302' %}GERAI SUCI{%endif%} {% if id_cabang = '303' %}GERAI DIPATIUKUR{%endif%}
   {% if id_cabang = '304' %}GERAI BALUBUR{%endif%} {% if id_cabang = '306' %}GERAI GERLONG HILIR{%endif%}
   {% if id_cabang = '307' %}GERAI KOPO{%endif%} {% if id_cabang = '308' %}GERAI CIBIRU{%endif%}
   {% if id_cabang = '309' %}GERAI CIPACING {%endif%} {% if id_cabang = '310' %}GERAI JATINANGOR{%endif%}
   {% if id_cabang = '327' %}GERAI CIMAHI  {%endif%} {% if id_cabang = '312' %}GERAI BUAH BATU{%endif%}
   {% if id_cabang = '313' %}GERAI KORDON  {%endif%} {% if id_cabang = '314' %}GERAI CIHANJUANG{%endif%}
   {% if id_cabang = '315' %}GERAI MARANATA{%endif%} {% if id_cabang = '316' %}GERAI KIARACONDONG{%endif%}
   {% if id_cabang = '317' %}GERAI CIREBON PERJUANGN {%endif%} {% if id_cabang = '318' %}GERAI CIREBON {%endif%}
   {% if id_cabang = '319' %}GERAI CIUMBELEUIT {%endif%} {% if id_cabang = '113' %}GERAI UJUNG BERUNG{%endif%}
   {% if id_cabang = '322' %}GERAI BOJONGSOANG{%endif%}{% if id_cabang = '300' %}KANTOR PUSAT{%endif%}
   {% if id_cabang = '329' %}GERAI LEWIGAJAH{%endif%}{% if id_cabang = '333' %}GADAI NIGHT DU{%endif%}
   {% if id_cabang = '331' %}GADAI NIGHT JAKARTA{%endif%}{% if id_cabang = '311' %}GARAI BUAHBATU{%endif%}
   {% if id_cabang = '320' %}GERAI UJUNGBERUNG{%endif%}{% if id_cabang = '324' %}GERAI KATAPANG SAYATI{%endif%}
   {% if id_cabang = '325' %}GERAI CIMINDI{%endif%}{% if id_cabang = '326' %}GERAI CEMARA{%endif%}
   {% if id_cabang = '332' %}GERAI TURANGGA{%endif%}{% if id_cabang = '328' %}GADAI NIGHT CIBIRU{%endif%}
   {% if id_cabang = '330' %}GADAI NIGHT BALUBUR{%endif%}
</small> </b>
</h3>
<h4 style='text-align: center'><small>Periode : {{start_date}} - {{end_date}}</small></h4>
<table class="list" border="1">
<tr>
    <th >No</th>
    <th >No Rekening</th>
    <th >Gerai</th>
    <th >Nama</th>
    <th >Tanggal </th>
    <th >JW (hari)</th>
    <th >Jatuh Tempo</th>
    <th >Pinjaman (Rp)</th>
    <th >Barang</th>
    <th >Status</th>
    <th >S Teguran</th>
</tr>

{% for p in tes %}
<tr>
    <td align="center">{{ forloop.counter }}</td>
    <td align="center">{{ p.norek }}</td>
    <td>{{ p.gerai.nama_cabang }}</td>
    <td>{{ p.agnasabah.nama }}</td>
    <td>{{ p.tanggal|date:"d-M-Y"}}</td>
    <td align="center">{% if p.jenis_transaksi != '1'%}
                       {{ p.jangka_waktu_kendaraan|default_if_none:"" }} Bulan{%else%}
                       {{ p.jangka_waktu|default_if_none:"" }} Hari</td>{% endif %}
    <td align="center">{{ p.jatuhtempo|date:" d-M-Y"}}</abbr></td>
    <td align="right">{{ p.nilai|number_format:0|default_if_none:"0" }}</td>
    <td align = "left">{{p.barang}}</td>
    <td align = "left">{%if p.status_transaksi == None %}Aktif{%else%}{{p.get_status_transaksi_display}} {%endif%}</td>
    <td align="right">{% ifusergroup gudang|admin|manop|admops|baranglapur %}{% if p.status_teguran = 1 %}SUDAH DI PRINT {% else%}{% if p.blokir_teguran = 'tampil' %}<a href ="/akadgadai/{{p.id}}/teguran/" class="cetak">Teguran<a>{%else%}
xxx{%endif%}{% endif%}{% endifusergroup %}</td>
</tr>
{% endfor %}
<tr>
    <th colspan="7"><strong>Jumlah</strong></th>
    <th align="right" >{{nilai|number_format:0}}</th>
    <th colspan="3"><strong>&nbsp;</strong></th>
</tr>
</table>
{% else %}
<h3 align="center">Data Yang Anda Cari Tidak Ada</h3>
{% endif %}
<link rel="stylesheet" href="/static/chosen/static/css/chosen.css">
<script src="/static/chosen/static/js/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    $(".chosen-select").chosen()
</script>
{% endblock %}





