{% load static from static %} 
<meta charset="utf-8">
<title>{% block title%}GSB{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
<link rel="stylesheet" href ="{% static '/static/kspra/bootstrap/css/bootstrap.min.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/bootstrap/css/bootstrap-responsive.min.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/lib/jquery-ui/css/Aristo/Aristo.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/css/orange.css' %}"  id="link_theme" />
<link rel="stylesheet" href ="{% static '/static/kspra/lib/smoke/themes/th_kspra.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/css/style.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/lib/jBreadcrumbs/css/BreadCrumb.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/lib/qtip2/jquery.qtip.min.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/lib/sticky/sticky.css' %}"  />    
<link rel="stylesheet" href ="{% static '/static/kspra/img/splashy/splashy.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/lib/tag_handler/css/jquery.taghandler.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/lib/uniform/Aristo/uniform.aristo.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/lib/multi-select/css/multi-select.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/lib/chosen/chosen.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/lib/stepy/css/jquery.stepy.css' %}"  />
<link rel="stylesheet" href ="{% static '/static/kspra/lib/colorpicker/css/colorpicker.css' %}"  />
<link rel="stylesheet" href = "{% static '/static/kspra/lib/colorbox/colorbox.css' %}" />
<link rel="stylesheet" href ="{% static '/static/kspra/js/jquery.alerts.css' %}">
<link href="{% static '/static/kspra/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<script src="{% static '/static/kspra/hide/jquery.min.js'%}"></script>
<script src="{% static '/static/kspra/bootstrap/number/script.js' %}"></script>
<script src="{% static '/static/kspra/bootstrap/alat/js/master.js' %}"></script>
