{% extends "new/base_aplikasi.html" %}
{% block extrahead %}
{% endblock %}
{% block section %}ledger{% endblock %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
   $( "#id_start_date,#id_end_date" ).datepicker({changeMonth: true,
    changeYear: true,firstDay: 1,dateFormat: 'yy-mm-dd',
    })
});
</script>
{% load number_format useringroup %}
<div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li>
            <a href="/"><i class="icon-home"></i></a>
        </li>
        <li>
            <a href="/manop/dlapur/lapur_barang_new/">Report Barang Lapur</a>
        </li>

    </ul>
</div>


<div class="row-fluid">
  <div class="span12">
    <form class="form-horizontal well" method="GET" action=".">{% csrf_token %}
      <fieldset>
        <p class="f_legend">Laporan Ayda</p>
        <div class="control-group">
          <label class="control-label">Tanggal</label>
          <div class="controls">
            {{form.start_date}} - {{form.end_date}}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Barang - Kendaraan</label>
          <div class="controls">
            {{form.barang}} - {{form.kendaraan}}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Kode Cabang</label>
          <div class="controls">
            {{form.id_cabang}}
        </div>
        </div>
        <div class="control-group">
          <label class="control-label">Status Barang</label>
          <div class="controls">
            {{form.status_barang}}            
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Jenis Report</label>
          <div class="controls">
            {{form.report}}            
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button class="btn" type="submit" name="submit_satu">Proses</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% if lapur %}
 <div class="row-fluid">
    <div class="span12">
    <h3 class="heading f_legend">LAPORAN AYDA 
    {% if id_cabang = '500'%}GABUNGAN {%endif%} {% if id_cabang = '301' %}GERAI JAKARTA{%endif%} 
   {% if id_cabang = '302' %}GERAI SUCI{%endif%} {% if id_cabang = '303' %}GERAI DIPATIUKUR{%endif%}
   {% if id_cabang = '304' %}GERAI BALUBUR{%endif%} {% if id_cabang = '306' %}GERAI GERLONG HILIR{%endif%}
   {% if id_cabang = '307' %}GERAI KOPO{%endif%} {% if id_cabang = '308' %}GERAI CIBIRU{%endif%}
   {% if id_cabang = '309' %}GERAI CIPACING {%endif%} {% if id_cabang = '310' %}GERAI JATINANGOR{%endif%}
   {% if id_cabang = '327' %}GERAI CIMAHI  {%endif%} {% if id_cabang = '312' %}GERAI BUAH BATU{%endif%}
   {% if id_cabang = '313' %}GERAI KORDON  {%endif%} {% if id_cabang = '314' %}GERAI CIHANJUANG{%endif%}
   {% if id_cabang = '315' %}GERAI MARANATA{%endif%} {% if id_cabang = '316' %}GERAI KIARACONDONG{%endif%}
   {% if id_cabang = '317' %}GERAI CIREBON PERJUANGN {%endif%} {% if id_cabang = '318' %}GERAI CIREBON {%endif%}
   {% if id_cabang = '319' %}GERAI CIUMBELEUIT {%endif%} {% if id_cabang = '113' %}GERAI UJUNG BERUNG{%endif%}
   {% if id_cabang = '322' %}GERAI BOJONGSOANG{%endif%}{% if id_cabang = '300' %}KANTOR PUSAT{%endif%}
   {% if id_cabang = '329' %}GERAI LEWIGAJAH{%endif%}{% if id_cabang = '333' %}GADAI NIGHT DU{%endif%}
   {% if id_cabang = '331' %}GADAI NIGHT JAKARTA{%endif%}{% if id_cabang = '311' %}GARAI BUAHBATU{%endif%}
   {% if id_cabang = '320' %}GERAI UJUNGBERUNG{%endif%}{% if id_cabang = '324' %}GERAI KATAPANG SAYATI{%endif%}
   {% if id_cabang = '325' %}GERAI CIMINDI{%endif%}{% if id_cabang = '326' %}GERAI CEMARA{%endif%}
   {% if id_cabang = '332' %}GERAI TURANGGA{%endif%}{% if id_cabang = '328' %}GADAI NIGHT CIBIRU{%endif%}
   {% if id_cabang = '330' %}GADAI NIGHT BALUBUR{%endif%}  
    Periode {{start_date}} {{end_date}}
    </h3>    
    <table class="table table-bordered table-striped" id="smpl_tbl">
      <thead>
        <tr>
          <th>No</th>
          <th>Gerai</th>
          <th>Eks Debitur</th>
          <th>Status</th>
          <th>NoRek</th>
          <th>Jenis Barang</th>
          <th>Barang</th>
          <th>Tanggal Akad</th>
          <th>Plafon</th>
          <th>Nilai Ayda</th>
        </tr>
      </thead>
      <tbody>
        {% for p in lapur %}
        <tr>
          <td><a href="/manop/{{p.id}}/sts_lpr/">{{ forloop.counter }}</a></td>
          <td>{{ p.aglapur.gerai }}</td>
          <td>{{ p.aglapur.agnasabah.nama}}</td>
          <td>{{ p.aglapur.get_status_transaksi_display}}</td>
          <td>{{ p.aglapur.norek }}</td>
          <td>{{ p.aglapur.barang.get_jenis_barang_display}}</td>
          <td>{{ p.aglapur.barang.merk}}</td>
          <td>{{ p.aglapur.tanggal|date:"d-m-Y"}}</td>
          <td>{{p.aglapur.nilai|number_format:0}}</td>
          <td>{{ p.nilai|number_format:0}}</td>
        </tr>{% endfor %}
      </tbody>
    </table>    
  </div>
{%else%}
Data Tidak Ada
{%endif%}
</div>

<link rel="stylesheet" href="/static/chosen/static/css/chosen.css">
<script src="/static/chosen/static/js/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    $(".chosen-select").chosen()
</script>
{% endblock %}
{% block sidebar %}
  <div class="antiScroll">
    <div class="antiscroll-inner">
      <div class="antiscroll-content">    
        <div class="sidebar_inner">
          <div id="side_accordion" class="accordion"> 
            {% if cek_menu > 0 %}
            {% for a in menu %}           
            <div class="accordion-group">
              <div class="accordion-heading ">
                <a class="accordion-toggle active" data-toggle="collapse" data-parent="side_accordion" href="#{{a.id}}" >
                <i class="icon-cog"></i> {{ a }}
              </a>
              </div>
            <div id="{{a.id}}" class="accordion-body collapse">
              <div class="accordion-inner">
              {% for b in a.menuitem_set.all %}
              {% if b in user.menuitem_set.all%}
                <ul class="nav nav-list">
                  <li><a href="{{ b.link_url }}">{{b.judul}}</a></li>
                </ul>
              {% endif %}
              {% endfor %}
              </div>
            </div>
            </div>
            {% endfor %}
            {% endif %}           
            
          </div>          
          <div class="push"></div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}



