{% extends "new/base_aplikasi.html" %}
{% block title %} {{ block.super }}
{% endblock %}
{% block section %}{% endblock %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
   $( "#id_start_date,#id_end_date" ).datepicker({changeMonth: true,
    changeYear: true,firstDay: 1,dateFormat: 'yy-mm-dd',
    })
});
</script>
{% load number_format useringroup %}
<form method="GET" action="." class="well form-inline">{% csrf_token %}
    <p class="f_legend">Data Otorisasi Pelunasan</p>
    <input type="text" name="start_date" id="id_start_date" value="{% now "Y-m" %}-01"  class="input-small"/> -
    <input type="text" name="end_date" id="id_end_date" value="{% now "Y-m-d" %}" class="input-small"/>
      <input type="submit" value="VIEW" class="btn btn-success" name="submit_satu" value="View"/>
      <input type="submit" value="CETAK PDF" class="btn btn-info" name="submit_dua"/>
	  <input type="submit" value="CETAK XLS" class="btn btn-inverse" name="submit_tiga"/>
</form>

<div class="row-fluid">
  <div class="span24">
  <h4 class="heading">Otorisasi Pelunasan Gu Periode : {{start_date}} - {{end_date}}</h4>
    <div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">Gadai Ulang</a></li>
				<li><a href="#tab2" data-toggle="tab">Pelunasan</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
				<table class="table table-bordered table-striped table_vam" id="smpl_tbl">
          <thead>
            <tr>
              <th rowspan="2">No</th>
              <th rowspan="2">Tanggal</th><th rowspan= "2">Gerai</th>
              <th rowspan= "2">Petugas Gerai</th><th rowspan= "2">Norek</th><th rowspan= "2">Debitur</th><th rowspan="2">Jatuh Tempo</th>
              <th colspan = "4" align="center">Nilai</th><th rowspan = "2" >Ket</th> <tr><th>Denda</th><th>Deviasi Denda</th>
              <th>Jasa</th><th>Deviasi Jasa</th>
            </tr>
          </thead>
  	      <tbody>
          {% for k in report %}
          <tr><td>{{forloop.counter}}</td><td>{{k.tanggal|date:"d-m-Y"}}</td>
  					<td>{{k.gu.pelunasan.gerai.nama_cabang}}</td>
  					<td>{{k.gu.pelunasan.cu}}</td><td>{{k.gu.pelunasan.norek}}</td>
  					<td>{{k.gu.pelunasan.agnasabah.nama}}</td>
  					<td>{{k.gu.pelunasan.jatuhtempo|date:"d-m-Y"}}</td>
            <td>{{k.get_h_denda_plns|number_format:0}}</td>
            <td>{{k.tot_denda|number_format:0}}</td>
            <td>{{k.get_jasa_pel_mo|number_format:0}}</td>
            <td>{{k.tot_jasa|number_format:0}}</td>
            <td>{{k.note}}</td>
  				</tr>
          {% endfor %}
  			  </tbody>
		    </table>
        </div>
        <div class="tab-pane active" id="tab2">
        <table class="table table-bordered table-striped" id="smpl_tbl">
          <thead>
            <tr>
              <th rowspan="2">No</th>
              <th rowspan="2">Tanggal</th><th rowspan= "2">Gerai</th>
              <th rowspan= "2">Petugas Gerai</th><th rowspan= "2">Norek</th><th rowspan= "2">Debitur</th><th rowspan="2">Jatuh Tempo</th>
              <th colspan = "4" align="center">Nilai</th><th rowspan = "2" >Ket</th> <tr><th>Denda</th><th>Deviasi Denda</th>
              <th>Jasa</th><th>Deviasi Jasa</th>
            </tr>
          </thead>
          <tbody>
          {% for k in lunas %}
          <tr>
            <td>{{forloop.counter}}</td><td>{{k.manoppelunasan.tanggal|date:"d-m-Y"}}</td>
            <td>{{k.gerai.nama_cabang}}</td>
            <td>{{k.cu}}</td><td>{{k.norek}}</td>
            <td>{{k.agnasabah.nama}}</td>
            <td>{{k.jatuhtempo|date:"d-m-Y"}}</td>
            <td>{{k.tot_jasa_lns|number_format:0}}</td>
            <td></td>
            <td>{{k.tot_denda_lns|number_format:0}}</td>
            <td></td>
            <td>{{k.manoppelunasan.note}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
		
	</div>
</div>

{% endblock %}

