{% extends "base_aplikasi.html" %}
{% block title %}Jurnal | {{ block.super }}{% endblock %}
{% block section %}jurnal{% endblock %}
{% block extrahead %}
{% include "alat/sidebar.html" %}
{% endblock extrahead %}
{% block sidebar %}
{% endblock %}
{% block content %}
<h2>DAFTAR COA <small>DIV PJB</small></h2>
<table id="tabel">
  <thead>
  <tr>
    <th width="20">ID</th>
    <th width="50">Kode COA</th>
    <th>Nama Deskripsi</th>
    <th>Saldo</th>
    <th>Unit</th>
    <th>Menu</th>
  </tr>
  </thead>
{% for a in object_list %}
  <tbody>
  <tr>
    <td>{{ a.id }}</td>
    <td>{{ a.coa }}</td>
    <td>{{ a.deskripsi }}</td>
    <td>{{a.saldo_pjb}}</td>
    <td>{{a.view_unit}}</td>
    <td align="center"><a href="/jurnal/rekening/{{ a.id }}/edit/"><img src="/static/images/edit.png" height="27px"/></a></td
  </tr>{% endfor %}
  </tbody>
</table>
{% endblock %}
