{% extends "base_aplikasi.html" %}
{% block extrahead %}
{% include "alat/ledger.html" %}
{% endblock %}
{% block section %}Noa Baru{% endblock %}
{% block content %}
{% load number_format useringroup %}

<h2> REKAP NASABAH BARU UNIT PJB </h2>  
<form method="GET" action="/manop/rekap_noa_baru/">{% csrf_token %}
   <table id="tabel" align="center">
    <li><label for="id_cabang">Kode Cabang</label> : {{form.id_cabang}}</li>
    <br>
    <li><label for="id_tgl_trans">Start Date</label> : {{form.start_date}} &#187;  {{form.end_date}}</li>
  <br>
   
   <li>
    <input type="submit" value="&#187 View" class="simpan" name="submit_satu" value="Add"/>&nbsp;
    <input type="submit" value="&#162 Cetak XLS" class="show" name="submit_tiga"/>&nbsp; 
    <input type="submit" value="&#171 Cetak PDF" class="lihat" name="submit_dua"/> &nbsp;    
   </li>
   </table>
</form>
<br>
<hr>
{% if tes %}
<h3 style='text-align: center'>DAFTAR NASABAH BARU
   {% if id_cabang = '500'%}GABUNGAN {%endif%} {% if id_cabang = '301' %}GERAI JAKARTA{%endif%} 
   {% if id_cabang = '302' %}GERAI SUCI{%endif%} {% if id_cabang = '303' %}GERAI DIPATIUKUR{%endif%}
   {% if id_cabang = '304' %}GERAI BALUBUR{%endif%} {% if id_cabang = '306' %}GERAI GERLONG HILIR{%endif%}
   {% if id_cabang = '307' %}GERAI KOPO{%endif%} {% if id_cabang = '308' %}GERAI CIBIRU{%endif%}
   {% if id_cabang = '309' %}GERAI CIPACING {%endif%} {% if id_cabang = '310' %}GERAI JATINANGOR{%endif%}
   {% if id_cabang = '327' %}GERAI CIMAHI  {%endif%} {% if id_cabang = '312' %}GERAI BUAH BATU{%endif%}
   {% if id_cabang = '313' %}GERAI KORDON  {%endif%} {% if id_cabang = '314' %}GERAI CIHANJUANG{%endif%}
   {% if id_cabang = '315' %}GERAI MARANATA{%endif%} {% if id_cabang = '316' %}GERAI KIARACONDONG{%endif%}
   {% if id_cabang = '317' %}GERAI CIREBON PERJUANGN {%endif%} {% if id_cabang = '318' %}GERAI CIREBON {%endif%}
   {% if id_cabang = '319' %}GERAI CIUMBELEUIT {%endif%} {% if id_cabang = '113' %}GERAI UJUNG BERUNG{%endif%}
   {% if id_cabang = '322' %}GERAI BOJONGSOANG{%endif%}{% if id_cabang = '300' %}KANTOR PUSAT{%endif%}
   {% if id_cabang = '329' %}GERAI LEWIGAJAH{%endif%}{% if id_cabang = '333' %}GADAI NIGHT DU{%endif%}
   {% if id_cabang = '331' %}GADAI NIGHT JAKARTA{%endif%}{% if id_cabang = '311' %}GARAI BUAHBATU{%endif%}
   {% if id_cabang = '320' %}GERAI UJUNGBERUNG{%endif%}{% if id_cabang = '324' %}GERAI KATAPANG SAYATI{%endif%}
   {% if id_cabang = '325' %}GERAI CIMINDI{%endif%}{% if id_cabang = '326' %}GERAI CEMARA{%endif%}
   {% if id_cabang = '332' %}GERAI TURANGGA{%endif%}{% if id_cabang = '328' %}GADAI NIGHT CIBIRU{%endif%}
   {% if id_cabang = '330' %}GADAI NIGHT BALUBUR{%endif%}</b>
</h3>
<h4 style='text-align: center'><small>Periode : {{start_date}} - {{end_date}}</small></h4>
<table class="list" width="100%" border="1">
<tr>
    <th>No</th>
    <th>Nonas</th>
    <th>Norek</th>
    <th>Gerai</th>
    <th>Nama</th>
    <th>Barang</th>
    <th>Tgl Input</th>
    <th>Tgl Akad</th>
    <th>Pinjaman (Rp)</th>
</tr>
{% for p in tes %}
<tr class="{% cycle 'row1' 'row2' %}">
    <td align="center">{{ forloop.counter }}</td>
    <td align="center">{{ p.nonas }}</td>
    <td align="center">{{ p.norek}}</td>
    <td>{{ p.gerai.nama_cabang }}</td>
    <td>{{ p.agnasabah.nama}}</td>
    <td>{{ p.barang.type}}</td>
    <td>{{ p.agnasabah.mdate|date:"d-M-Y"}}</td>
    <td align="center">{{ p.tanggal|date:" d-M-Y"}}</abbr></td>
    <td align="right">{{ p.nilai|number_format:0|default_if_none:"0" }}</td>
</tr>
{% endfor %}
<tr>
    <th colspan="8"><strong>Jumlah</strong></th>
    <th align="right" >{{nilai|number_format:0}}</th>

</tr>
</table>
{% else %}
<p>Tidak ada data </p>
{% endif %}

{% endblock %}





