{% extends "base_aplikasi.html" %}
{% block extrahead %}
{% block section %}kas{% endblock %}
{% block sidebar %}{% load number_format %}
{% for date in date_list %}
{{ date|date:"F Y" }}<br />{% endfor %}
{% endblock %}
{% block content %}
<p class="breadcrumb"><a href="/">Home</a> &gt; Kas</p>
{% if perms.apps.add_mutasikas %}<span class="contextual"><a href="/kas/add/">Tambah Penerimaan / Pengeluaran Kas</a></span>{%endif %}
<h2>Mutasi Kas</h2>
<div id="id_chart_cashflow"></div>
<table class="list">
    <tr><th>Tanggal</th><th>Rekening</th><th>Masuk</th><th>Keluar</th><th>Keterangan</th><th>Akun</th></tr>
{% for object in latest %}
    <tr><td>{{ object.tanggal|date:"d-m-Y" }}</td><td>{{ object.kasbank }}</td>{% if object.is_debet %}<td class="uang">{{ object.nilai|number_format:0 }}</td><td class="uang">0</td>{% else %}<td class="uang">0</td><td class="uang">{{ object.nilai|number_format:0 }}</td>{% endif %}<td>{{ object.keterangan }}</td><td>{{ object.akun }}</td></tr>{% endfor %}
</table>
{% endblock %}
