<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<title>Rekap {{ object.nama }}</title>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
@media screen, print {
body, td, th { font-size: 10px; font-family: verdana; }
}
@media print { .print { display: none; } }
</style>
<style type="text/css">
table.tableizer-table {border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif; font-size: 10px;} .tableizer-table td {padding: 0px; margin: 2px; border: 1px solid #ccc;}
.tableizer-table th {background-color: #FF9933; color: #FFF; font-weight: bold;}
</style>
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/js/master.js"></script>
<script language="javascript">
<!--
function printpage() { window.print(); }

//-->
</script>
</head>
<body onload="printpage();">
{% load number_format %}
<p class="print">[ <a href="#" onclick="printpage()">Print</a> | <a href="/">Kembali</a> ]</p>
<table width="100%">
<tr>
	<td width="100" align="center">
		<img src="/static/img/logoksu.png" width="60" height="60" align="left" hspace="10"/>
		<h3>FORMULIR PENGIRIMAN BARANG KE GERAI</h3>
		<h5>GERAI : {{barang.0.gerai.nama}} | {% now "d/f/Y" %}</h5>
		
	</td>
</tr>
</table>

<table width="100%">
</td>
<td width="15%" >
<p><h5>Kepada :	<br/>
Kepala Gerai {{barang.0.gerai.nama}}<br/>
{{barang.0.gerai.alamat}}<br/>
<h5></p></td>
<td width="65%" >
</td>
<td width="100" >

<p><h5>Tanggal Kirim  :  {% now "d F Y" %}</br>No. Formulir&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :<br/>
Dikirim Dengan&nbsp;:<br/>
No. Kendaraan&nbsp;&nbsp;:[ D 1234 RA ] / [ D 1432 RA ]<br/>
Nama Driver&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:[........................]
</h5></p></td></table>
<table class="tableizer-table" width="100%" border="1" bordercolor="silver " style="background-color:#FFFFFF" cellpadding="0" cellspacing="0">
<tr class="tableizer-firstrow">
	<th rowspan= "2">NO</th>
	<th rowspan= "2">NO KWITANSI</th>
	<th rowspan= "2">NAMA NASABAH</th>
    <th rowspan= "2">SPEC BARANG</th>
    <th rowspan= "2" >JENIS BARANG</th>
	<th rowspan= "2">TGL JATUH TEMPO</th>
	<th rowspan= "2">KETERANGAN</th>
</tr>
<tr >
{% for p in barang %}	
<tr>
	<td align="center"><font size="1">{{ forloop.counter }}</font></td>
	<td align="center"><font size="1">{{ p.norek }}</font></td>
	<td><font size="1">{{ p.agnasabah.nama|truncatewords:2 }}</font></td>
    <td align="left"><font size="1">{{p.barang.merk}}, {{p.barang.type}}, {{p.barang.warna}},(SN {{p.barang.sn}}). </font></td>
    <td align="left"><font size="1">{{p.barang.get_jenis_barang_display}}</font></td>
	<td align="center"><font size="1">{{p.jatuhtempo}}</font></td>	
	<td align="left"><font size="1">{{p.barang.get_jenis_barang_display}}</font></td>
</tr>
{% endfor %}


<tr><td rowspan="2" align="center">Jumlah </td><td rowspan="2" colspan= "10" align="center"></td><tr>
<tr><td rowspan="2" colspan= "14" align="center">Bersama ini kami kirim dan serahkan 1 (satu) Cash Box dari Gerai {{gr.nama}} Ke Gudang</td><tr>
</table>
<br/>

<table  width="100%" >

<tr>

  <td width="500" align="center">Bandung, {% now "d F Y" %}<br/>DIKIRIM OLEH<br/> 
  KA. GUDANG
<br/>
<br/>
<br/>
<br/>
<br/>
[........................]
  </td>
  </div >
<td width="500" align="center">PETUGAS PICK UP<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
[........................]
</td>
<td align="center">DITERIMA OLEH<br/>
KA. GERAI
<br/>
<br/>
<br/>
<br/>
<br/>
[........................]
 </td></tr>
</table>
