{% extends "base_aplikasi.html" %}
{% block section %}jurnal{% endblock %}
{% block extrahead %}
{% include "alat/sidebar.html" %}
{% include "alat/jurnal.html" %}
{% endblock %}
{% block content %}
{% load useringroup number_format %}  
<h2 align="right">Pembukuan Manual Transaksi KAS<small> <i>Divisi PJB</i></small></h2>
<form  method="post" class="tabular" id="form_jurnal">{% csrf_token %}

<table align="center">
{{ form.as_ul }}
{{ formset.management_form }}
</table>
<table align="center">
    <tr>
        <th >Kode COA</th><th>Antar Kantor</th> <th>Debet</th><th>Kredit</th>   
    </tr>
{% for form in formset.forms %}
        <td>{{ form.id_coa }}  </td>
        <td>{{ form.gerai }}</td>
        <td>{{ form.debet }}</td>
        <td>{{ form.kredit }}</td>        
  </tr>

{% endfor %}
  
</table>

<p style="clear: both;" align="center"><label></label><input type="submit" value="Simpan" class="cari"/></p>
</form>
<br><h2>Data Transaksi</h2><a>
<form method="POST" action="/jurnal/kasir_post/add/">{% csrf_token %}
<input type="hidden" name="id" value="{{object.id}}" />
<table id="tabel">
    <thead>
        <tr>
          <th><input id="select_all" type="checkbox" align="center"></th>
          <th>Kode Account</th>
          <th>No Bukti</th>
          <th>Keterangan</th>          
          <th>Debet(Rp)</th>
          <th>Kredit(Rp)</th>
          <th>Approve</th>
          <th>Menu</th>
          
        </tr>
    </thead>
    {% for p in show %}
    
    <tbody>
        <tr>
            <td><input type="checkbox"  value="{{ p.id }}" class="checkbox_delete" name='id_pilih' /></td>
            <td>{{p.kepala_coa}}.{{p.id_coa}} {{ p.antar_kantor }}</td>
            <td>{{p.jurnal.nobukti}}</td>
            <td>{{p.jurnal.diskripsi}}</td>            
            <td align="right">{{p.debet|number_format:0}}</td>
            <td align="right">{{p.kredit|number_format:0}}</td>
            <td align="center">{{p.next_group}}</td>
            {% if p.manopkeu.status == '1' %} {%else%}
            <td align="center"><a href="/jurnal/{{p.id}}/hapus_jurnal/" class="cari">Batal</a>{% endif %}           
            {%if p.debet == 0 %}
             <a href="/kasirgerai/{{p.id}}/gl_val/" class ='cari'>Validasi</a></td>{% endif %}
        </tr>
    </tbody>
    {%endfor%}
  <tr>
    <td align="center" colspan="4">Jumlah</td>
    <td align="right"><b>{{total_debet|number_format:0}}</b></td>
    <td align="right"><b>{{total_kredit|number_format:0}}</b></td>
    <td align="right"></td><td></td>
  </tr>

</table>


<p align="right"><input type="submit" value="Simpan" class="cari" /></p>
</form>

{% endblock %}
