{% extends "base_aplikasi.html" %}
{% block title %}{{ block.super }}{% endblock %}
{% block section %}Bank{% endblock %}
{% block extrahead %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
{% load number_format useringroup %}
<h2 align="left">POSISI BANK PUSAT <small>KSU RA</small></h2>
<table class="list">
     <tr>
         <td><b>SALDO AWAL</b></td>
         <td></td>
         <td align="right"><b>{{saldo_awal_bank|number_format:0}}</b></td>
     </tr>
</table>
<br>
<table class="list">
    <tr>
      <th colspan="2">TRANSFER MASUK DARI REKENING GERAI</th><th colspan="2">TRANSFER KELUAR KE REKENING GERAI</th>
    </tr>
    {% for c in gr%}
    </tr>
    {% ifchanged c.kode_cabang %}
    <tr class="row1" >
    {% endifchanged %}
        <!--   
        <td align="left" >-<a href='/kasirgerai/{{c.kode_cabang}}/all_transaksi_bank_pusat/'   pesan="Total yg sudah di postting {{a.sts_post}}"> {{c.nama_cabang}} </a></td><td align="right">{{c.pendapatan_bank|number_format:0}}</td>
        <td align="left">- {{c.nama_cabang}}</td><td align="right">{{c.pengeluaran_bank|number_format:0}}</td>
        -->
        {% if c.kode_cabang == '300' %}
        <td align="left" >-<a href='/kasirgerai/{{c.kode_cabang}}/transaksi_bank_pusat/'   pesan="Total yg sudah di postting {{a.sts_post}}"> {{c.nama_cabang}} </a></td><td align="right">{{c.pendapatan_bank|number_format:0}}</td>
    {% else %}
        <td align="left" >-<a href='/kasirgerai/{{c.kode_cabang}}/all_transaksi_bank_pusat/'   pesan="Total yg sudah di postting {{a.sts_post}}"> {{c.nama_cabang}} </a></td><td align="right">{{c.pendapatan_bank|number_format:0}}</td>
    {% endif %}
        <td align="left">- {{c.nama_cabang}}</td><td align="right">{{c.pengeluaran_bank|number_format:0}}</td>
    </tr>
 {% endfor%}
     <tr class="row1" >
        <th  align="left" >- Total </th><th align="right">{{total_penerimaan|number_format:0}}</th>
        <th  align="left">&nbsp;</th><th align="right">{{total_pengeluaran|number_format:0}}</th>
    </tr>
    <!--
    <tr><tr class="row1" >
       <td align="left" >- JAKARTA</td><td align="center">{{kas_debit_jkt|number_format:0}}</td>
        <td align="left">- JAKARTA</td><td align="center">{{kas_kredit_jkt|number_format:0}}</td>
    </tr>
    <tr class="row2">
      <td align="left">- SUCI</td><td align="center">{{kas_debit_suci|number_format:0}}</td>
      <td align="left">- SUCI</td><td align="center">{{kas_kredit_suci|number_format:0}}</td>
    </tr>
    <tr class="row1">
      <td align="left">- DIPATIUKUR</td><td align="center">{{kas_debit_du|number_format:0}}</td>
      <td align="left">- DIPATIUKUR</td><td align="center">{{kas_kredit_du|number_format:0}}</td>
    </tr>
    <tr class="row2">
      <td align="left">- BALUBUR</td><td align="center">{{kas_debit_blbr|number_format:0}}</td>
      <td align="left">- BALUBUR</td><td align="center">{{kas_kredit_blbr|number_format:0}}</td>
    </tr>
    <tr class="row1">
      <td align="left">- GERLONG HILIR</td><td align="center">{{kas_debit_gh|number_format:0}}</td>
      <td align="left">- GERLONG HILIR</td><td align="center">{{kas_kredit_gh|number_format:0}}</td>
    </tr>
    <tr class="row2">
      <td align="left">- KOPO</td><td align="center">{{kas_debit_kopo|number_format:0}}</td>
      <td align="left">- KOPO</td><td align="center">{{kas_kredit_kopo|number_format:0}}</td>
    </tr>
    <tr class="row1">
      <td align="left">- CIBIRU</td><td align="center">{{kas_debit_cibiru|number_format:0}}</td>
      <td align="left">- CIBIRU</td><td align="center">{{kas_kredit_cibiru|number_format:0}}</td>
    </tr>
    <tr class="row2">
      <td align="left">- CIPACING</td><td align="center">{{kas_debit_cipacing|number_format:0}}</td>
      <td align="left">- CIPACING</td><td align="center">{{kas_kredit_cipacing|number_format:0}}</td>
    </tr>
    <tr class="row1">
      <td align="left">- JATINANGOR</td><td align="center">{{kas_debit_jtngr|number_format:0}}</td>
      <td align="left">- JATINANGOR</td><td align="center">{{kas_kredit_jtngr|number_format:0}}</td>
    </tr>
    <tr class="row2">
      <td align="left">- CIMAHI</td><td align="center">{{kas_debit_cimahi|number_format:0}}</td>
      <td align="left">- CIMAHI</td><td align="center">{{kas_kredit_cimahi|number_format:0}}</td>
      </tr>
    <tr class="row1">
      <td align="left">- BUAH BATU</td><td align="center">{{kas_debit_buahbatu|number_format:0}}</td>
      <td align="left">- BUAH BATU</td><td align="center">{{kas_kredit_buahbatu|number_format:0}}</td>
    </tr>
    <tr class="row2">
      <td align="left">- MARANATHA</td><td align="center">{{kas_debit_marnat|number_format:0}}</td>
      <td align="left">- MARANATHA</td><td align="center">{{kas_kredit_marnat|number_format:0}}</td>
    </tr>
    <tr class="row1">
      <td align="left">- CIREBON</td><td align="center">{{kas_debit_cirebon|number_format:0}}</td>
      <td align="left">- CIREBON</td><td align="center">{{kas_kredit_cirebon|number_format:0}}</td>
    </tr>
    <tr class="row2">
      <td align="left">- CIUMBELEUIT</td><td align="center">{{kas_debit_cimbuleuit|number_format:0}}</td>
      <td align="left">- CIUMBELEUIT</td><td align="center">{{kas_kredit_cimbuleuit|number_format:0}}</td>
    </tr>
    <tr class="row1">
      <td align="left">- UJUNGBERUNG</td><td align="center">{{kas_debit_ujungberung|number_format:0}}</td>
      <td align="left">- UJUNGBERUNG</td><td align="center">{{kas_kredit_ujungberung|number_format:0}}</td>
    </tr>
    <tr class="row2">
      <td align="left">- CIWASTRA</td><td align="center">{{kas_debit_ciwastra|number_format:0}}</td>
      <td align="left">- CIWASTRA</td><td align="center">{{kas_kredit_ciwastra|number_format:0}}</td>
    </tr>
    <tr class="row1">
      <td align="left">- BOJONGSOANG</td><td align="center">{{kas_debit_bojongsoang|number_format:0}}</td>
      <td align="left">- BOJONGSOANG</td><td align="center">{{kas_kredit_bojongsoang|number_format:0}}</td>
    </tr>
    <tr> 
     <th align="center">Total</th><th align="right"><b>{{pendapatan|number_format:0}}</b></th>
     <th align="left">&nbsp;</th>
     <th align="right"><b>{{pengeluaran|number_format:0}}</b></th>
    </tr>
    -->
</table>


</br></br>
<h3 align="center"> TRANSFER MASUK LAINNYA</h3>
<table class="list">

<tr> <th>Id Coa</th>
      <th>Keterangan</th>
     <th>Nilai</th>
</tr>
{% for j in jrn_pendapatan %}
<tr>
    <td align="left">{{j.id_coa}}</td>
    <td align="left">{{j.deskripsi}}</td>
    <td align="right">{{j.debet|number_format:0}}</td>
</tr>
{% endfor %}
<tr>
    <td>TOTAL</td>
    <td></td>
    <td align="right"><b>{{j_pendapatan|number_format:0}}</b></td>
</tr>
</table>

<h3 align="center">TRANSFER KELUAR LAINNYA</h3>

<table class="list">
<tr> <th>Id Coa</th>
     <th>Keterangan</th>
     <th>Nilai</th>
</tr>
{% for j in jrn_pengeluaran %}
<tr>
    <td align="left">{{j.id_coa}}</td>
    <td align="left">{{j.deskripsi}}</td>
    <td align="right">{{j.kredit|number_format:0}}</td>

</tr>
{% endfor %}
<tr>
    <td>TOTAL</td>
    <td></td>
    <td align="right"><b>{{j_pengeluaran|number_format:0}}</b></td>
</tr>
</table>
<br><br>
<table class="list">
     <tr>
         <td><b>SALDO AKHIR</b></td>
 <td></td>
 <td align="right"><b>{{saldo_akhir_bank|number_format:0}}</b></td>
     </tr>
</table>
{% endblock %}

