{% extends "base_aplikasi.html" %}
{% block section %}Kas{% endblock %}
{% load useringroup number_format %}
{% block extrahead %}{% endblock %}
{% include "alat/sidebar.html" %}
{% block content %}
<h2>POSISI KAS PJB &nbsp <small> KSU RA</small></h2>
<table class="list">
<tr>
	<th>NO</th>
	<th>GERAI</th>
	<th>SALDO AWAL</th>
	<th>PENDAPATAN</th>
	<th>PENGELUARAN</th>
	<th>SALDO AKHIR</th><th>SETORAN SALDO</th><th>SALDO GERAI</th>
</tr>
<tr>
{% for p in list %}	
	<td align="center">{{ forloop.counter }}</td>
	<td align="left">{{ p.cabang }}</td>
	<td align="right">{{ p.saldo_awal|number_format:0}}</td>	
	<td align="right">{{ p.pendapatan|number_format:0 }}</td>
	<td align="right">{{ p.pengeluaran|number_format:0}} </td>
	<td align="right">{{p.saldo_akhir|number_format:0}}</td>
	<td align="right">{{p.saldo_yg_disetorkan|number_format:0}}</td>
	<td align="right">{{p.saldo_gerai|number_format:0}}</td>
</tr>
{% endfor %}
<tr>
   <td>{{a}}</td>
</tr>
</table>
{% endblock %}
