{% extends "base_aplikasi.html" %}
{% block extrahead %}
{% include "alat/akad.html" %}
{% endblock %}
{% block section %}pk{% endblock %}
{% block content %}
{% if form.errors %}
<p ><span style = " color : red ; " >ADA KOLOM YANG BELUM ANDA INPUTKAN </span></p>
{% endif %}
<h2 align="right">INPUT PENCAIRAN KREDIT GADAI</h2>
<form class ="tabular" method='POST' action="." enctype="multipart/form-data" >{% csrf_token %} 
<table align="left" > 
			
    <td colspan="3" height="10"><h3>IDENTITAS NASABAH</td>
	
	<tr>
        <td>KEANGGOTAAN<span style = " color : red ; " >*</span></td>
        <td>: {{form.jenis_keanggotaan}}{% if form.jenis_keanggotaan.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>

    <tr>
        <td>NAMA <span style = " color : red ; " >*</span></td>
        <td>: {{form.nama}}{% if form.nama.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>

    <tr>
        <td>TANGGAL LAHIR<span style = " color : red ; " >*<span></td>
        <td>: {{ form.tgl_lahir }}{% if form.tgl_lahir.errors %}<span style = " color : red ; " >FORMAT INPUTAN SALAH </span>{% endif %}</td>
    </tr>
	
    
    <tr>
        <td>TEMPAT LAHIR <span style = " color : red ; " >*<span></td>
        <td>: {{form.tempat}}{% if form.tempat.errors %}<span style = " color : red ; " >KOLOM TEMPAT LAHIR INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    
    <tr>
	<td><label for="jenis_identitas"  width="200px" height="25px" >JENIS IDENTITAS<span style = " color : red ; " >*<span></label></td>
	<td><ul>
        <li><label for="id_jenis_transaksi_1"><input value="2" type="radio" class="identitas" name="jenis_identitas" id="id_jenis_identitas_1" />KTP</label></li>
        <li><label for="id_jenis_transaksi_0"><input value="1" type="radio" class="identitas" name="jenis_identitas" id="id_jenis_identitas_0" />SIM</label></li>
        </ul></td>
    </tr>
    
    
    <tr class="formktp" style="display:none">
        <td>NOMOR ( KTP )<span style = " color : red ; " >*<span></td>
        <td>: {{form.no_ktp}}
        {% if form.no_ktp.errors %}
        <span style = " color : red ; "  >PENGAJUAN ATAS NO KTP INI SUDAH ADA</span>{% endif %}	</td></td>
    </tr>
   
    <tr class="formktp" style="display:none">
        <td>ALAMAT (KTP)<span style = " color : red ; " >*<span></td>
        <td>: {{form.alamat_ktp}} {% if form.alamat_ktp.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    
    <tr class="formktp" style="display:none">
        <td>NO RUMAH (KTP)<span style = " color : red ; " >*<span></td>
        <td>: {{form.no_rumah_ktp}} {% if form.no_rumah_ktp.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    
    <tr class="formktp" style="display:none">
        <td>RT/RW (KTP)<span style = " color : red ; " >*<span></td>
        <td>: {{form.rt_ktp}} / {{form.rw_ktp}} {% if form.rt_ktp.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>	

    <tr class="formktp" style="display:none">
        <td><label for="id_kelurahan_ktp"  width="200px" height="25px" >KELURAHAN (KTP)<span style = " color : red ; " >*<span>:</label></td>
        <td>: {{form.kelurahan_ktp}} {% if form.kelurahan_ktp.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    
    <tr class="formktp" style="display:none">
        <td><label for="id_kecamatan_ktp"  width="200px" height="25px" >KECAMATAN (KTP)<span style = " color : red ; " >*<span>:</label></td>
        <td>: {{form.kecamatan_ktp}}{% if form.kecamatan_ktp.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    
    <tr class="formktp" style="display:none">
        <td>KOTA MADYA (KTP):</td>
        <td>: {{form.kotamadya_ktp}}{% if form.kotamadya_ktp.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    
    <tr class="formktp" style="display:none">
        <td><label for="id_kabupaten_ktp"  width="200px" height="25px" >KABUPATEN (KTP)<span style = " color : red ; " >*<span>:</label></td>
        <td>: {{form.kabupaten_ktp}}{% if form.kotamadya_ktp.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
     <tr class="formktp" style="display:none">
        <td><label for="id_telepon_ktp"  width="200px" height="25px">NOMOR TELPON <span style = " color : red ; " >*<span>:</label></td>
        <td>: {{form.telepon_ktp}} {% if form.telepon_ktp.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>	
    
    <tr class="formktp" style="display:none">
       <td>NOMOR HP <span style = " color : red ; " >*<span>:</td>
       <td>: {{form.hp_ktp}} {% if form.hp_ktp.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr> 
    
    
    
    <tr class="formsim" style="display:none">
        <td><label for="id_no_sim"  width="200px" height="25px">NOMOR (SIM) <span style = " color : red ; " >*<span>:</label></td>
        <td>: {{form.no_sim}}
        {% if form.no_sim.errors %}
        <span style = " color : red ; "  >PENGAJUAN ATAS NO SIM INI SUDAH ADA</span>{% endif %}	</td></td>
    </tr>
   
    <tr class="formsim" style="display:none">
        <td><label for="id_alamat_sim"  width="200px" height="25px">ALAMAT (SIM)<span style = " color : red ; " >*<span>:</label></td>
        <td>: {{form.alamat_sim}} {% if form.alamat_sim.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    
    <tr class="formsim" style="display:none">
        <td><label for="id_rt_sim"  width="200px" height="25px">RT/RW (SIM)<span style = " color : red ; " >*<span>:</label></td>
        <td>: {{form.rt_sim}} / {{form.rw_sim}} {% if form.rt_sim.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>	
   
    <tr class="formsim" style="display:none">
        <td><label for="id_kelurahan_sim"  width="200px" height="25px" >KELURAHAN (SIM)<span style = " color : red ; " >*<span>:</label></td>
        <td>: {{form.kelurahan_sim}} {% if form.kelurahan_sim.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    
    <tr class="formsim" style="display:none">
        <td><label for="id_kecamatan_sim"  width="200px" height="25px" >KECAMATAN (SIM)<span style = " color : red ; " >*<span>:</label></td>
        <td>: {{form.kecamatan_sim}}{% if form.kecamatan_sim.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    <!--data sim--> 
    
   

    <tr>
       <td>ALAMAT (DOMISILI) <span style = " color : red ; " >*<span>:</td>
       <td>: {{form.alamat_domisili}} {% if form.alamat_domisili.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    
    <tr>
       <td>NOMOR RUMAH(DOMISILI)<span style = " color : red ; " >*<span>:</td>
       <td>: {{form.no_rumah_domisili}} {% if form.no_rumah_domisili.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    
    <tr>
       <td>RT (DOMISILI) <span style = " color : red ; " >*<span>:</td>
       <td>: {{form.rt_domisili}} {% if form.rt_domisili.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
    
    <tr>
       <td>RW (DOMISILI)<span style = " color : red ; " >*<span>:</td>
       <td>: {{form.rw_domisili}} {% if form.rw_domisili.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr> 
           
    <tr>
       <td>TELEPON RUMAH (DOMISILI)<span style = " color : red ; " >*<span>:</td>
       <td>: {{form.telepon_domisili}} {% if form.telepon_domisili.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr> 
           
    <tr>
       <td>HP (DOMISILI) <span style = " color : red ; " >*<span>:</td>
       <td>: {{form.hp_domisili}} {% if form.hp_domisili.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr> 
            
    <tr>
       <td>KELURAHAN (DOMISILI) <span style = " color : red ; " >*<span>:</td>
       <td>: {{form.kelurahan_domisili}} {% if form.kelurahan_domisili.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr> 
             
    <tr>
       <td>KECAMATAN (DOMISILI) <span style = " color : red ; " >*<span>:</td>
       <td>: {{form.kecamatan_domisili}} {% if form.kecamatan_domisili.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr> 
            
    <tr>
       <td>KOTA MADYA (DOMISILI)<span style = " color : red ; " >*<span>:</td>
       <td>: {{form.kotamadya_domisili}} {% if form.kotamadya_domisili.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr> 
         
    <tr>
       <td>KABUPATEN (DOMISILI)<span style = " color : red ; " >*<span>:</td>
       <td>: {{form.kabupaten_domisili}} {% if form.kabupaten_domisili.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>  
        
    
    <tr>
       <td>JENIS PEKERJAAN<span style = " color : red ; " >*<span></td>
       <td>: {{form.jenis_pekerjaan}}{% if form.jenis_pekerjaan.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
	
    <tr>
       <td>ALAMAT KANTOR</td>
       <td>: {{form.alamat_kantor}} {% if form.alamat_kantor.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>
	
    <tr>
        <td>TELEPON KANTOR</td>
        <td>: {{form.telepon_kantor}}{% if form.telepon_kantor.errors %}<span style = " color : red ; " >KOLOM INI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>	
	
    <tr>
        <td><label for="id_kode_pos"  width="200px" height="25px" >KODE POS<span style = " color : red ; " >*<span>:</label></td>
        <td>: {{form.kode_pos}}</td>
    </tr>
	
    <tr>
        <td><label for="id_email"  width="200px" height="25px" >EMAIL:</label></td>
        <td>: {{form.email}}</td>
    </tr>
	
    <tr>
        <td><label for="id_jenis_kelamin"  width="200px" height="25px" >JENIS_KELAMIN<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.jenis_kelamin}}</td>
    </tr>

     <tr>    
     <td colspan="3" height="10"><h3>IDENTITAS PASANGAN NASABAH</td>
     </tr>

     <tr>
        <td><label for="id_nama_pasangan"  width="200px" height="25px" >NAMA PASANGAN<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.nama_pasangan}}</td>
    </tr>

    <tr>
        <td><label for="id_jenis_kelamin"  width="200px" height="25px" >JENIS KELAMIN<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.jekel_pasangan}}</td>
    </tr>   

    <tr>
        <td><label for="id_alamat"  width="200px" height="25px" >ALAMAT<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.alamat_pasangan}}</td>
    </tr>
    
    <tr>
        <td><label for="id_no_telp"  width="200px" height="25px" >NO TELEPON<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.tlp_pasangan}}</td>
    </tr>
    
    <tr>
        <td><label for="id_no_rumah"  width="200px" height="25px" >NO RUMAH<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.no_rumah_pas}}</td>

    </tr>
    
    <tr>
        <td><label for="id_rt_pas"  width="200px" height="25px" >RT<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.no_rt_pas}}</td>
    </tr>
    
    <tr>
        <td><label for="id_rw_pas"  width="200px" height="25px" >RW<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.no_rw_pas}}</td>
    </tr>
    

    <tr>
	<td><label for="jenis_transaksi"  width="200px" height="25px" >JENIS TRANSAKSI<span style = " color : red ; " >*<span></label></td>
	<td>{{form.jenis_transaksi}}</td>
    </tr>

    <tr>
        <td><label for="id_lampiran_dokumen"  width="200px" height="25px" >LAMPIRAN DOKUMEN<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.lampiran_dokumen}}</td>
    </tr>


        <tr><td><h3 align="center"><span style="text-decoration: underline;">PENILAIAN DAN PERSETUJUAN</span></h3></td></tr>

    <tr>
                <td><label for="id_tanggal"  width="200px" height="25px" >TANGGAL TRANSAKSI<span style = " color : red ; " >*<span>:</label></td>
                <td>:   {{form.tanggal}} {% if form.tanggal.errors %}<span style = " color : red ; " >FORMAT INPUTAN SALAH </span>{% endif %} </td>
    </tr>

    <tr>
                <td><label for="id_gerai"  width="200px" height="25px" >GERAI<span style = " color : red ; " >*<span></label></td>
                <td>: {{form.gerai}} {% if form.gerai.errors %}<span style = " color : red ; " >KOLOM GERAI INI BELUM ANDA INPUT </span>{% endif %}</td>
        </tr>

        <tr>
                <td><label for="id_gudang"  width="200px" height="25px" >TAKSIRAN NILAI BARANG<span style = " color : red ; " >*<span></label></td>
                <td>: {{form.taksir}}{% if form.taksir.errors %}<span style = " color : red ; " >KOLOM TAKSIR BELUM ANDA INPUT </span>{% endif %}</td>
        </tr>

    <tr>
        <td><label for="id_nilai"  width="200px" height="25px" >NILAI PINJAMAN<span style = " color : red ; " >*<span></label></td>
                <td>: {{form.nilai}}{% if form.nilai.errors %}<span style = " color : red ; " >KOLOM NILAI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>

    <tr class="formbarang" style="display:none">
                <td><label for="id_JANGKA_WAKTU"  width="200px" height="25px" >JANGKA WAKTU<span style = " color : red ; " >*<span></label></td>
                <td>: {{form.jangka_waktu}}(HARIAN){% if form.jangka_waktu.errors %}<span style = " color : red ; " >KOLOM JANGKA WAKTU BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>

    <tr class="formkendaraan" style="display:none">
                <td><label for="id_jangka_waktu_kendaraan"  width="200px" height="25px" >JANGKA WAKTU KENDARAAN<span style = " color : red ; " >*<span></label></td>
                <td>: {{form.jangka_waktu_kendaraan}}(BULAN)</td>
    </tr>

    <tr>
        <td><label for="id_nilai"  width="200px" height="25px" >Materai<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.bea_materai}}{% if form.bea_materai.errors %}<span style = " color : red ; " >KOLOM NILAI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>

    <tr>
        <td>UPLOAD FOTO NASABAH<span style = " color : red ; " ></span></td>
        <td>: {{form.foto_nasabah}}{% if form.foto_nasabah.errors %}<span style = " color : red ; " >KOLOM NILAI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>

    <tr>
        <td>UPLOAD Tanda Tangan<span style = " color : red ; " ></span></td>
        <td>: {{form.tanda_tangan}}{% if form.tanda_tangan.errors %}<span style = " color : red ; " >KOLOM NILAI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>

     <tr>
        <td>UPLOAD Berkas Barang<span style = " color : red ; " ></span></td>
        <td>: {{form.berkas_barang}}{% if form.berkas_barang.errors %}<span style = " color : red ; " >KOLOM NILAI BELUM ANDA INPUT </span>{% endif %}</td>
    </tr>



    <tr class="formbarang" style="display:none" >    
   <td><h3 align="center"><span style="text-decoration: underline;">DATA JAMINAN ELEKTRONIK</span></h3></td>
    </tr>

    <tr class ="formbarang" style= "display:none">
        <td><label for="id_jenis_barang"  width="200px" height="25px" >JENIS BARANG:</label></td>
        <td>: {{form.jenis_barang}}</td>
    </tr>

    <tr class ="formbarang" style= "display:none">
        <td><label for="id_merk"  width="200px" height="25px" >MERK<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.merk}}</td>
    </tr>
   
    <tr class ="formbarang" style= "display:none">
        <td><label for="id_type"  width="200px" height="25px" >TYPE<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.type}}</td>
    </tr>	

    <tr class ="formbarang" style= "display:none">
        <td><label for="id_sn"  width="200px" height="25px" >SN /IMAY<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.sn}}</td>
    </tr>	

    <tr class ="formbarang" style= "display:none">
        <td><label for="id_warna"  width="200px" height="25px" >WARNA<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.warna}}</td>
    </tr>

   
    <tr class ="formbarang" style= "display:none">
        <td><label for="id_tahun_pembuatan"  width="200px" height="25px" >TAHUN PEMBUATAN<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.tahun_pembuatan}}</td>
    </tr>	

    <tr class ="formbarang" style= "display:none">
        <td><label for="id_bukan_produksi"  width="200px" height="25px" >BULAN PRODUKSI<span style = " color : red ; " >*<span></label></td>
        <td>: {{form.bulan_produksi}}</td>
    </tr>
	
    
    <tr class ="formbarang" style= "display:none">
	<td><label for="id_accesoris_barang1"  width="200px" height="25px" >PERLENGKAPAN BARANG<span style = " color : red ; " >*<span></label>
	</td><td>: {{form.accesoris_barang1}} [ Untuk pemisah disarankan menggunakan titik,(CHARGER.DUS.MANUAL) ]</td>
    </tr>
    
    <tr class="formkendaraan" style="display:none">
		<td><h3 align="center"><span style="text-decoration: underline;">DATA JAMINAN KENDARAAN</span></h3></td>
	</tr>

	<tr class="formkendaraan" style="display:none">
		<td><label for="id_merk_kendaraan"  width="200px" height="25px" >MERK KENDARAAN</label>
		</td><td>: {{form.merk_kendaraan}}</td>
	</tr>

	<tr class="formkendaraan" style="display:none">
		<td><label for="id_jenis_kendaraan"  width="200px" height="25px" >JENIS KENDARAAN</label>
		</td><td>: {{form.jenis_kendaraan}}</td>
	</tr>

	<tr class="formkendaraan" style="display:none">
		<td><label for="id_type_kendaraan" width="200px" height="25px">TYPE KENDARAAN<span style = " color : red ; " >*<span></label>
		</td><td>: {{form.type_kendaraan}}</td>
	</tr>
    
	<tr class="formkendaraan" style="display:none">
		<td><label for="id_tahun_pembuatan_kendaraan"  width="200px" height="25px" >TAHUN PEMBUATAN KENDARAAN</label>
		</td><td>: {{form.tahun_pembuatan_kendaraan}}</td>
	</tr>

	<tr class="formkendaraan" style="display:none">
		<td><label for="id_no_polisi"  width="200px" height="25px">NOMOR POLISI<span style = " color : red ; " >*<span></label>
		</td><td>: {{form.no_polisi}}</td>
	</tr>

	<tr class="formkendaraan" style="display:none">
		<td><label for="id_no_rangka"  width="200px" height="25px" >NOMOR RANGKA<span style = " color : red ; " >*<span></label>
		</td><td>: {{form.no_rangka}}</td>
	</tr>

	<tr class="formkendaraan" style="display:none">
		<td><label for="id_no_mesin" width="200px" height="25px">NOMOR MESIN<span style = " color : red ; " >*<span></label>
		</td><td>: {{form.no_mesin}}</td>
	</tr>
	
	<tr class="formkendaraan" style="display:none">
		<td><label for="id_warna_kendaraan"  width="200px" height="25px" >WARNA KENDARAAN<span style = " color : red ; " >*<span></label>
		</td><td>: {{form.warna_kendaraan}}</td>
	</tr>
	
	<tr class="formkendaraan" style="display:none">
		<td><label for="id_no_bpkb"  width="200px" height="25px" >NOMOR BPKB<span style = " color : red ; " >*<span></label>
		</td><td>: {{form.no_bpkb}}</td>
	</tr>

	<tr class="formkendaraan" style="display:none">
		<td><label for="id_no_faktur"  width="200px" height="25px" >NOMOR FAKTUR<span style = " color : red ; " >*<span></label>
		</td><td>: {{form.no_faktur}}</td>
	</tr>
	
	<tr class="formkendaraan" style="display:none">
		<td><label for="id_stn_atas_nama"  width="200px" height="25px" >STNK ATAS NAMA<span style = " color : red ; " >*<span></label>
		</td><td>: {{form.stnk_atas_nama}}</td>
	</tr>
	
    <tr><td></td><td><hr></td></tr>
	

    <!--{{form.as_table}}-->

	<tr><td></td><td><hr></td></tr>
	<tr><td><label ></td><td>{% include "alat/save.html" %}</td></tr>	
</table>
</form>

{% endblock %}
<link type="text/css" href="/static/css/smoothness/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
<script src="/static/js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.meio.mask.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#id_tanggal").datepicker({dateFormat: 'dd-mm-yy'});
    $('input:text').setMask();
       $('.tabular').submit(function(){
        $('input.uang').each(function () { $(this).val(to_number($(this).val())); });
        return true;
    });
    $('.r_ktp').keyup(function(){
    var val = $(this).val();
    if(isNaN(val)){
         val = val.replace(/[^0-9\.]/g,'');
         if(val.split('.').length > 1) 
             val =val.replace(/\.+$/,"");
    }
    $(this).val(val); 
    });
    $("input.r_ktp").keypress(function(event){
        if (event.charCode && (event.charCode < 46 || event.charCode > 57 || event.charCode == 47 ))
        { event.preventDefault(); }
    });
    $("input.r_nama").keypress(function(event){
        if (event.charCode && (event.charCode == 47 ))
        { event.preventDefault(); }
    });
});
</script>
<script type="text/javascript" href="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
    $(":radio.rad").click(function(){
    $(".formbarang, .formkendaraan").hide()
    if($(this).val() == "1"){
    $(".formbarang").show();
    }else{
    $(".formkendaraan").show();
    }
    });
    });
$(function(){
    $(":radio.identitas").click(function(){
	$(".formsim, .formktp").hide()
	    if($(this).val() == "1"){
	    $(".formsim").show();
	    }else{
	    $(".formktp").show();
	}
    });
});
</script>
<script>
$(document).ready(function()
{
    $('#id_nama,#id_tempat,#id_alamat_ktp,#id_kelurahan_ktp,#id_kecamatan_ktp,#id_kotamadya_ktp,#id_kabupaten_ktp,#id_alamat_sim,#id_kelurahan_sim,#id_kecamatan_sim,#id_alamat_domisili,#id_kelurahan_domisili,#id_kecamatan_domisili,#id_kotamadya_domisili,#id_kabupaten_domisili,#id_alamat_kantor,#id_merk,#id_type,#id_sn,#id_warna,#id_accesoris_barang1,#id_type_kendaraan,#id_no_polisi,#id_no_rangka,#id_no_mesin,#id_warna_kendaraan,#id_no_bpkb,#id_no_faktur,#id_stn_atas_nama,#id_nama_pasangan,#id_alamat_pasangan,#id_tlp_pasangan').keyup(function()
    {
        $(this).val($(this).val().toUpperCase());
    });
});

$(document).ready(function()
{
    $('#id_email').keyup(function()
    {
        $(this).val($(this).val().toLowerCase());
    });
});
</script>

<script>
function validateForm() {
    var x = document.forms["myForm"]["email"].value;
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
        alert("Email Yang Anda Masukan Tidak Valid");
        return false;
    }
}
</script>


