{% extends "base_aplikasi.html" %}
{% block section %}Neraca{% endblock %}
{% block sidebar %}{% load useringroup %}
{% block extrahead %}
{% include "alat/neraca.html" %}
{% load useringroup number_format terbilang %}
{% endblock %}
{% endblock %}
{% load number_format humanize %}
{% block content %}
<h2> NERACA</h2>  
<div id="jeding">
  <img id="loading_gambar" src="/static/images/jeding.gif" alt="Load" />
</div>
<form method="GET" action="/rreport/neraca_keu/" class="tabular">{% csrf_token %}
<table class="list" align="center">
   <li><label for="id_cabang">Kode Cabang</label> : {{form.id_cabang}}
   </li>
    <li><label for="id_tgl_trans">Posisi Tanggal</label> : {{form.end_date}}</li>
	<br>
    <li>&nbsp;
           <input type="submit" value="&raquo; Non Posting" class="nonposting" name="submit_satu"/> &nbsp;
           <input type="submit" value="&prop; CETAK" class="cetak_posting" name="submit_dua"/>&nbsp;
    </li>
</table>
</form>

<br>
{% if akun %}
<p style='text-align: center'><b>UNIT PJB 
  {% if id_cabang = '500'%}GABUNGAN {%endif%} {% if id_cabang = '301' %}GERAI JAKARTA{%endif%} 
   {% if id_cabang = '302' %}GERAI SUCI{%endif%} {% if id_cabang = '303' %}GERAI DIPATIUKUR{%endif%}
   {% if id_cabang = '304' %}GERAI BALUBUR{%endif%} {% if id_cabang = '306' %}GERAI GERLONG HILIR{%endif%}
   {% if id_cabang = '307' %}GERAI KOPO{%endif%} {% if id_cabang = '308' %}GERAI CIBIRU{%endif%}
   {% if id_cabang = '309' %}GERAI CIPACING {%endif%} {% if id_cabang = '310' %}GERAI JATINANGOR{%endif%}
   {% if id_cabang = '327' %}GERAI CIMAHI  {%endif%} {% if id_cabang = '312' %}GERAI BUAH BATU{%endif%}
   {% if id_cabang = '313' %}GERAI KORDON  {%endif%} {% if id_cabang = '314' %}GERAI CIHANJUANG{%endif%}
   {% if id_cabang = '315' %}GERAI MARANATA{%endif%} {% if id_cabang = '316' %}GERAI KIARACONDONG{%endif%}
   {% if id_cabang = '317' %}GERAI CIREBON PERJUANGN {%endif%} {% if id_cabang = '318' %}GERAI CIREBON {%endif%}
   {% if id_cabang = '319' %}GERAI CIUMBELEUIT {%endif%} {% if id_cabang = '113' %}GERAI UJUNG BERUNG{%endif%}
   {% if id_cabang = '322' %}GERAI BOJONGSOANG{%endif%}{% if id_cabang = '300' %}KANTOR PUSAT{%endif%}
   {% if id_cabang = '329' %}GERAI LEWIGAJAH{%endif%}{% if id_cabang = '333' %}GADAI NIGHT DU{%endif%}
   {% if id_cabang = '331' %}GADAI NIGHT JAKARTA{%endif%}{% if id_cabang = '311' %}GARAI BUAHBATU{%endif%}
   {% if id_cabang = '320' %}GERAI UJUNGBERUNG{%endif%}{% if id_cabang = '324' %}GERAI KATAPANG SAYATI{%endif%}
   {% if id_cabang = '325' %}GERAI CIMINDI{%endif%}{% if id_cabang = '326' %}GERAI CEMARA{%endif%}
   {% if id_cabang = '332' %}GERAI TURANGGA{%endif%}{% if id_cabang = '328' %}GADAI NIGHT CIBIRU{%endif%}
   {% if id_cabang = '330' %}GADAI NIGHT BALUBUR{%endif%}
    
</p>

<p style='text-align: center'>NERACA </p>
<p style='text-align: center'>Periode : {{end_date}}</b></p>

<table class="list">

    <tr>
	<th>Coa</th>
	<th>Account</th>
        <th>Saldo Awal</th>		
	<th>Saldo Akhir</th>
    </tr>
    

{% for d in akun%}
 	
	 <tr  {% if d.header_parent.id = 1%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id %}  {% else %} class="row_nenek" {% endif%}
	      {% if d.header_parent.id = 266%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 388%} class="row_anak" {% else %}  {% endif%}	 
	      {% if d.header_parent.id = 389%} class="row_cucu" {% else %}  {% endif%}	 
	      {% if d.header_parent.id = 392%} class="row_cucu" {% else %}  {% endif%}	 
	      {% if d.header_parent.id = 396%} class="row_cucu" {% else %}  {% endif%}	 
	      {% if d.header_parent.id = 398%} class="row_cucu" {% else %}  {% endif%}	 
	      {% if d.header_parent.id = 401%} class="row_cucu" {% else %}  {% endif%}	 
	      {% if d.header_parent.id = 406%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 449%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 540%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 547%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 555%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 560%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 2%}   class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 191%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 207%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 267%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 337%} class="row_cucu" {% else %}  {% endif%} 	 
      	      {% if d.header_parent.id = 381%} class="row_cucu" {% else %}  {% endif%}
      	      {% if d.header_parent.id = 407%} class="row_cucu" {% else %}  {% endif%}
      	      {% if d.header_parent.id = 450%} class="row_cucu" {% else %}  {% endif%}
      	      {% if d.header_parent.id = 2%} class="row_cucu" {% else %}  {% endif%}>
              {% if d.saldo_akhir > 0 %}
		 <td style="text-align:right">{{d.id_cabang}}.{{ d.coa }}</td>
	 	 <td>{{ d.deskripsi }}<small>({{ d.id }})</small></td>
     		<td style="text-align:right">
    			{{d.saldo_awal|minplus|number_format:0}}</td>
		 <td style="text-align:right">
		{{d.saldo_akhir|minplus|number_format:0}}</td>{%else%}

              {% if d.saldo_akhir < 0 or d.coa = '35.00.00' or d.coa = '35.04.00'%}
                 <td style="text-align:right">{{d.id_cabang}}.{{ d.coa }}</td>
                 <td>{{ d.deskripsi }}<small>({{ d.id }})</small></td>
                 <td style="text-align:right">
                {{d.saldo_awal|minplus|number_format:0}}</td>
                 <td style="text-align:right" ><span style="color:#E7270E">
                ({{d.saldo_akhir|minplus|number_format:0}})</span></td>          
    
              {%endif%}
              {%endif%}
	  </tr>	
{% endfor %}
         <tr>
            <th colspan='3'>Total Aktiva</th>
            {% if id_cabang = '500'%}
            <th style="text-align:right">{{neraca_saldo_akhir_count_gabung|number_format:0 }}</th> {%else%}
            <th style="text-align:right">{{neraca_saldo_akhir_count|number_format:0 }}</th>{% endif %}
	  </tr>
	  <tr>
		 <th colspan='3'>Total pasiva + Equitas</th>
                 {% if id_cabang = '500'%}
                 <th style="text-align:right">{{total_saldo_akhir_ekopasi_gabungan|number_format:0 }}</th> {%else%}
                 <th style="text-align:right">{{total_saldo_akhir_ekopasi|number_format:0 }}</th> {%endif%}
	  </tr>
</table>
{% else %}
<p>Tidak ada data neraca</p>
{% endif %}
{% endblock %}




