{% extends "base_aplikasi.html" %}
{% block section %}dashboard{% endblock %}
{% block sidebar %}{% load useringroup %}
{% block extrahead %}
{% include "alat/sidebar.html" %}
{% load useringroup number_format %}
{% load number_format humanize %}
{% endblock %}
<div style = "margin-left:10px;">
<br>
<div class = "menu_list id = "secondpane"">
{% ifusergroup MANKEU%}
<div id='cssmenu'>
    <ul>
        <li class='active'><a href=''><span>MENU KEUANGAN</span></a></li>
        <li class='has-sub'><a href=''><span>Jurnal Transaksi</span></a>
    <ul>
        <li class='last'><a href="/jurnal/index/">Jurnal Transaksi</a></li>						   
    </ul> 
    </li>
        <li class='has-sub'><a href=''><span>Sub Ledger</span></a>
    <ul>
        <li><a href="/jurnal/buku_besar/" ><span> Buku Besar Per COA</span></a></li>
        <li><a href="/jurnal/buku_besar_all/" ><span> Buku Besar All Coa</span></a></li>
    </ul> </li>
        <li class='has-sub'><a href=''><span>Laporan Keuangan</span></a>
    <ul>
        <li><a href="/jurnal/neraca_percobaan/"><span> Neraca Percobaan</span></a></li>
	<li><a href="/jurnal/neraca_pjb/"> <span> Neraca Harian</span></a></li>
	<li><a href="/mankeu/neraca_pjb_month/"><span> Neraca Bulanan</span></a></li>
	<li><a href="/jurnal/laba_rugi/"><span> Laba Rugi Harian</span></a></li>
	<li><a href="/mankeu/laba_rugi_month/"><span> Laba Rugi Bulanan</span></a></li>						   
    </ul></li>
        <li class='has-sub'><a href=''><span>Manage</span></a>
    <ul>
        <li><a href="/jurnal/rekening/"><span>Daftar Kode Account</span></a></li>
        <li><a href="/jurnal/rekening/add/"><span>Input COA</span></a></li>
 	<li><a href="/mankeu/coa/" ><span>Approve COA</span></a></li>
    </ul></li>
        <li class='last'><a href=''><span>KSU RIZKY ABADI</span></a></li>
    </ul>
 </div>
{% endifusergroup %}
{% ifusergroup STAFKEUANGAN%}
<div id='cssmenu'>
	  <ul>
		 <li class='active'><a href=''><span>MENU STAFF KEUANGAN</span></a></li>
		 <li class='has-sub'><a href=''><span>Jurnal Transaksi</span></a>
			<ul>
			   <li class='last'><a href="/jurnal/0/add_staff/">Input GL to GL kas</a></li>
			   <li class='last'><a href="/mankeu/rekapitulasi_transaksi_gl_gl/">Rekapitulasi Transaksi GL</a></li>
			</ul>
		 </li>
		 
		 <li class='last'><a href=''><span>KSU RIZKY ABADI</span></a></li>
	  </ul>
 </div>
{% endifusergroup %}
</div>

</div>
{% endblock %}
{% block content %}

<h2>Data Transaksi DIV PJB &nbsp <small> KSU RA</small></h2>
<table class="list">

<tr>
    <th>Kode</th>
    <th><small>Gerai</small></th>        
    <th><small>NOA Aktif</small></th>
    <th><small>T.Plafon aktif (Rp)</small></th>
    <th><small>NOA J.Tempo</small> </th>
    <th><small>T.JATUH TEMPO (Rp)</small></th>
    <th><small>NOA Lunas</small></th>
    <th><small>T.Plafon Lunas (Rp)</small></th>
    <th><small>NOA Lelang</small></th>
    <th>T.Harga Jual Lelang (Rp)</th>
    <th><small>Total NOA</small></th>
    <th><small>History Pencairan</small></th>  
</tr>

{% for p in akad_list %}
<tbody>
    <tr>    
    <td>{{ p.id }}</td>
    <td align="left"><a href="/barang/{{ p.id}}/">{{ p.nama_cabang }}</a></td>	
    <td>{{p.aktif}}</td>
    <td align="right">{{p.get_jumlah_nilai|number_format:0}}</td>	
    <td><a href="/barang/{{ p.id}}/barangnonlunas/">{{p.total_jatuhtempo}}</a></td>
    <td align="right">{{p.get_jumlah_jatuhtempo|number_format:0}}</td>
    <td>{{p.get_banyak_lunas}}</td>
    <td align="left">{{p.plns_nilai_bulanan|number_format:0}}</td>	
    <td>{{p.get_banyak_lelang}}</td>
    <td align="right">{{p.get_total_nilailelang|number_format:0}}</td>
    <td>{{p.total_barang}}</td>
    <td><a href="/barang/{{p.id}}/lebih/">XXX</a></td>        
    </tr>
</tbody>{% endfor %}
<tr>
    <th colspan="2" class="r"><strong>Jumlah</strong></th>
    <th>{{total}}</th>
    <th>Rp. {{tot_nilai|number_format:0}}</th>
    <th>{{tot_jatuh}}</th>
    <th>Rp. {{tot_jt_nilai|number_format:0}}</th>
    <th>{{tot_lunas}}</th>
    <th>Rp. {{tot_nilai_lunas|number_format:0}}</th>
    <th><a href="/lelang/">{{tot_lelang}}</a></th>
    <th>Rp. {{tot_nilai_lelang|number_format:0}}</th>
    <th>{{tot_all_barang}}</th><th></th>
</tr>


</table>


{% endblock %}
