{% extends "base_aplikasi.html" %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/tedi/css/jquery.dataTables.css">
<script type="text/javascript" language="javascript" src="/static/tedi/jquery-1.11.3.min.js"></script>
<script type="text/javascript" language="javascript" src="/static/tedi/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" class="init">	
$(document).ready(function() {
    $('#example').DataTable();
} );
    $(document).ready(function() {
        $('#menuinput').click(function() {
        	$('.chosen-container-single').trigger("liszt:updated");
        	$('.tampil').slideToggle("fast");

        });
    });
</script>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
	<h2>Parameter Pusat Kas Dan Bank</h2>
	<div id="menuinput"><button class="neraca">+TAMBAH</button></div>
	<div class="tampil" >
	<form class ="tabular" method='POST' action="." enctype="multipart/form-data" >{% csrf_token %}
		<table>
			{{form.as_table}}
		</table>
		<li><input  type="submit" name="submit" value="@Simpan" class="simpan"></li>
	</form>
	</div>
	<br>
	<h3 align="center">Data Parameter Pusat Kas Bank</h3>
	<table id="example" class="display" cellspacing="0" >
		<thead>
		<tr>
		    <th>No</th><th>Cabang</th><th>Coa Cabang</th><th>Item</th><th>Coa </th>
		    <th>Coa Kredit</th><th>Coa Lawan Debet</th><th>Coa Lawan Kredit</th><th>Menu</th>
		</tr>
		</thead>
		<tfoot>
		<tr>
                     <th>No</th><th>Cabang</th><th>Coa Cabang</th><th>Item</th><th>Coa </th>
                     <th>Coa Kredit</th><th>Coa Lawan Debet</th><th>Coa Lawan Kredit</th><th>Menu</th>
		</tr>
		</tfoot>
		<tbody>
		{% for a in biaya %}
		<tr class="{% cycle 'row1' 'row2' %}">
			<td>{{ forloop.counter }}</td>
			<td>{{a.cabang}}</td>
                        <td>{{a.ke_cabang }}</td>
			<td>{{a.get_item_display}}</td>
			<td>{{a.coa}}</td>
			<td>{{a.coa_kredit}}</td>
			<td>{{a.coa_lawan_debet}}</td>
                        <td>{{a.coa_lawan_kredit}}</td>
			<td><a href="/parameter/{{a.id}}/edit_jurnal_kas_bank/"><button class="neraca">#Edit</button></a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}


