{% extends "base_aplikasi.html" %}
{% block section %}Neracaharian{% endblock %}
{% block extrahead %}
{% include "alat/neraca.html" %}
{% load useringroup number_format %}
{% endblock %}
{% block content %}
{% load number_format useringroup %}
<h2> NERACA HARIAN<small>&nbsp;Div PJB</small></h2>
<div id="jeding">
  <img id="loading_gambar" src="/static/images/jeding.gif" alt="Load" />
</div>
<table class="list" align="center">
<br/>
<form class="tabular" method="GET" action="/jurnal/neraca_pjb/">{% csrf_token %}
<tr>
   <td><label for="id_cabang">Kode Cabang</label> </td>
   <td>:
      <select id="id_id_cabang" data-placeholder="None" class="chosen-select" name="id_cabang">
            <option value="" selected="selected">---------</option>
			<option value="500">GABUNGAN</option>
            <option value="0">BANDUNG_pjb</option> <option value="1">JAKARTA</option><option value="2">SUCI</option><option value="3">DIPATIUKUR</option>
            <option value="4">BALUBUR</option><option value="5">GERLONG GIRANG</option><option value="6">GERLONG HILIR</option><option value="7">KOPO</option>
            <option value="8">CIBIRU</option><option value="9">CIPACING</option><option value="10">JATINANGOR</option><option value="11">CIMAHI</option>
            <option value="12">BUAH BATU</option><option value="13">KORDON</option><option value="14">CIHANJUANG</option><option value="15">MARANATA</option>
            <option value="16">KIARACONDONG</option><option value="17">CIREBON PERJUANGAN</option><option value="18">CIREBON </option><option value="19">CIUMBELEUIT</option>
            <option value="20">UJUNGBERUNG - PJB</option>
      </select>      
   </td>
</tr>
<tr>
    <td>Tanggal </td>
    <td>
	  <label for="id_tgl_trans"></label> : <input type="text" name="start_date" id="id_start_date" size="15" value="{% now "Y-m" %}-01" />
	</td>
</tr>
<tr><td></td>
	<td><input type="submit" value="Cari" class="neraca"/></td>
</tr>
</form>
</table>

<br>
{% if akun %}
<h3 style='text-align: center'><b> NERACA HARIAN  </b></h3>
<h3 style='text-align: center'><b><small>UNIT PJB <small><small><small>{{id_cabang}}</small>
</small>GERAI 
   {% if id_cabang = '0' %}PUSAT{%endif%}{% if id_cabang = '1' %}JAKARTA{%endif%}{% if id_cabang = '2' %}SUCI{%endif%}{% if id_cabang = '3' %}DIPATIUKUR{%endif%}
   {% if id_cabang = '4' %}BALUBUR{%endif%}{% if id_cabang = '6' %}GERLONG HILIR{%endif%}{% if id_cabang = '7' %}KOPO{%endif%}{% if id_cabang = '8' %}CIBIRU{%endif%}
   {% if id_cabang = '9' %}CIPACING{%endif%}{% if id_cabang = '10' %}JATINAMGOR{%endif%}{% if id_cabang = '11' %}CIMAHI{%endif%}{% if id_cabang = '12' %}BUAH BATU{%endif%}
   {% if id_cabang = '13' %}KORDON{%endif%}{% if id_cabang = '14' %}CIHANJUANG{%endif%}{% if id_cabang = '15' %}MARANATA{%endif%}{% if id_cabang = '16' %}KIARACONDONG{%endif%}{% if id_cabang = '17' %}CIREBON PERJUANGN{%endif%}
   {% if id_cabang = '18' %}CIREBON{%endif%}{% if id_cabang = '19' %}CIUMBELEUIT{%endif%}{% if id_cabang = '113' %}UJUNG BERUNG{%endif%}
</small> </b>
</h3>
<h3 style='text-align: center'><b><small>Periode : {{start_date}} </small> </b></h3>

<table class="list">
    <tr>
		<th>Coa</th>
		<th>Account</th>		
		<th>Saldo Sebelumnya</th>
		<th>Debet</th>
		<th>Kredit</th>
		<th>Saldo Akhir</th>
	</tr>
{% for d in akun%}   
	 <tr {% if d.header_parent.id = 1%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id %}  {% else %} class="row_nenek" {% endif%}
	      {% if d.header_parent.id = 266%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 388%} class="row_anak" {% else %}  {% endif%}	 
	      {% if d.header_parent.id = 406%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 449%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 540%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 547%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 555%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 560%} class="row_anak" {% else %}  {% endif%}
	      {% if d.header_parent.id = 2%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 191%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 207%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 267%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 337%} class="row_cucu" {% else %}  {% endif%} 	 
	      {% if d.header_parent.id = 381%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 407%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 450%} class="row_cucu" {% else %}  {% endif%}
	      {% if d.header_parent.id = 2%} class="row_cucu" {% else %}  {% endif%}>
	    
	 	 <td>{{d.id_cabang}}.{{d.coa}}</td>
		 <td>{{ d.deskripsi }}<small> {{d.id}}</small></td>		 
		 <td align="center">{{ d.saldo_awal|number_format:0 }}</td>				
		 <td style="text-align:right">{{ d.debet|number_format:0 }}</td>
		 <td style="text-align:right">{{ d.kredit|number_format:0 }}</td>		 
		 <td style="text-align:right">{{ d.saldo_akhir|number_format:0}}</td>
	</tr>
	
{% endfor %}
	 
	 
	 <tr>
		 <th colspan='3'>SELISIH</th>
		 <th style="text-align: right">{{total_debet|number_format:0}}</th>
		 <th style="text-align: right">{{ total_kredit|number_format:0 }}</th>
		 <th style="text-align: right"> {{selisih|number_format:0}}</th>
	 </tr>
</table>
{% else %}
<h3 align="center">TIDAK ADA DATA JURNAL</h3>
{% endif %}

{% endblock %}

