{% extends "base_aplikasi.html" %}
{% block extrahead %}
{% include "alat/ledger.html" %}
{% endblock %}
{% block section %}hilang{% endblock %}
{% block content %}
{% load number_format useringroup %}

<h2>DATA BARANG LAINNYA UNIT PJB </h2>  
<form method="GET" action="/manop/rincian_lainlain/">{% csrf_token %}
   <table id="tabel" align="center">
    <li><label for="id_cabang">Kode Cabang</label> :
      <select id="id_id_cabang" data-placeholder="None" class="chosen-select" name="id_cabang">
            <option value="" selected="selected">---------</option><option value="500">(Gabungan)</option>
            <option value="300">PUSAT-pjb</option><option value="301">JAKARTA</option><option value="302">SUCI</option><option value="303">DIPATIUKUR</option>
            <option value="304">BALUBUR</option><option value="306">GERLONG HILIR</option><option value="307">KOPO</option><option value="308">CIBIRU</option>
            <option value="309">CIPACING</option><option value="310">JATINANGOR</option><option value="311">CIMAHI</option><option value="312">BUAH BATU</option>
            <option value="313">KORDON</option><option value="314">CIHANJUANG</option><option value="315">MARANATHA</option><option value="316">KIARACONDONG</option>
            <option value="317">CIREBON PERJUANGAN</option><option value="319">CIUMBELEUIT</option><option value="320">UJUNGBERUNG</option><option value="321">CIWASTRA</option>
            <option value="322">BOJONGSOANG</option><option value="323">CIJERAH</option><option value="324">KATAPANG</option><option value="325">CIMINDI</option>
            <option value="326">CEMARA</option><option value="327">LEUWI GAJAH</option>
     </select>      
   </li>
   <br>
   <li><label for="id_tgl_trans">Tanggal </label> :<input type="text" name="start_date" id="id_start_date" size="15" value="{% now "Y-m" %}-01" /> 
   <label for="id_tgl_trans">Tanggal </label> :<input type="text" name="end_date" id="id_end_date" size="15" value="{% now "Y-m-d" %}"/></li>
   <br>
   <li><input type="submit" value="CETAK XLS" class="cari" name="submit_tiga"/>&nbsp; 
	  <input type="submit" value="CETAK PDF" class="cari" name="submit_dua"/> &nbsp;
	  <input type="submit" value="VIEW" class="cari" name="submit_satu" value="Add"/>
   </li>
   </table>
</form>
<br>
<hr>
   {%if kp%}
<h3 style='text-align: center'><b><small>DATA BARANG LAINNYA</small></b><b><small> UNIT PJB <small><small>
</small>
{% if id_cabang = '500' %}(GABUNGAN){%endif%}
   {% if id_cabang = '1' %}BANDUNG{%endif%}{% if id_cabang = '2' %}Gerai: JAKARTA{%endif%}
   {% if id_cabang = '3' %}Gerai: SUCI{%endif%}{% if id_cabang = '4' %}Gerai: DIPATIUKUR{%endif%}
   {% if id_cabang = '5' %}Gerai: BALUBUR{%endif%}{% if id_cabang = '6' %}Gerai: GERLONG GIRANG{%endif%}
   {% if id_cabang = '7' %}Gerai: GEGER KALONG HILIR{%endif%}{% if id_cabang = '8' %}Gerai: KOPO{%endif%}
   {% if id_cabang = '9' %}Gerai: CIBIRU{%endif%}{% if id_cabang = '10' %}Gerai: CIPACING{%endif%}
   {% if id_cabang = '11' %}Gerai: JATINANGOR{%endif%}{% if id_cabang = '12' %}Gerai: CIMAHI{%endif%}
   {% if id_cabang = '13' %}Gerai: BUAH BATU{%endif%}{% if id_cabang = '14' %}Gerai: KORDON{%endif%}
   {% if id_cabang = '15' %}Gerai: CIHANJUANG{%endif%}{% if id_cabang = '16' %}Gerai: MARANATHA{%endif%}
   {% if id_cabang = '17' %}Gerai: KIARA CONDONG{%endif%}{% if id_cabang = '18' %}Gerai: CIREBON PERJUANGAN{%endif%}
   {% if id_cabang = '19' %}Gerai: CIREBON RAYAT{%endif%}{% if id_cabang = '20' %}Gerai: CIUMBULEUIT{%endif%}
   {% if id_cabang = '21' %}Gerai: UJUNG BERUNG{%endif%}

</small> </b>
</h3>
<h4 style='text-align: center'><small>Periode : {{start_date}} - {{end_date}}</small></h4>
<form method="POST" action="/manop/reset_status_lainlain/">{% csrf_token %}
<table class="tableizer-table"width="100%" border="1">
<tr class="tableizer-firstrow">
    <th>No</th>
    <th>No Rekening</th>
    <th>Gerai</th>
    <th>Nama</th>
    <th>Barang</th>
    <th>Status</th>
    <th>Tgl Status </th>
    <th>Tanggal</th>
    <th>JW (hari)</th>
    <th>Jatuh Tempo</th>
    <th>Nilai</th>
</tr>

{% for p in kp %}
<tr>
    <td align="center"><input type="checkbox"  value="{{ p.id }}" class="checkbox_delete" name='id_pilih' />{{ forloop.counter }}</td>
    <td align="center">{{ p.norek }}</td>
    <td>{{ p.gerai }}</td>
    <td>{{ p.agnasabah.nama|truncatewords:2 }}</td>
    <td>{{p.barang.merk}}.{{p.barang.type}}</td>
    <td>{{ p.status_transaksi}}</td>
    <td>{{p.tanggal_lelang|date:"d-M-Y"}}
    <td>{{ p.tanggal|date:"d-M-Y"}}</td>
    <td align="center">{% if p.jangka_waktu_kendaraan  %}{{ p.jangka_waktu_kendaraan|default_if_none:"" }} Bulan{%else%}
                       {{ p.jangka_waktu|default_if_none:"" }} Hari</td>{% endif %}
    <td align="center">{{ p.jatuhtempo|date:" d-M-Y"}}</abbr></td>
    <td align="right">{{ p.nilai|number_format:0|default_if_none:"0" }}</td>
</tr>
{% endfor %}
<tr>
    <th colspan="10"><strong>Jumlah</strong></th>
    <th align="right" >{{nilai|number_format:0}}</th>
</tr>
</table>
<p align="right"><input type="submit" value="RESET STATUS" class="cari" /></p>
</form>
{% else %}
<p>Tidak ada data </p>
{% endif %}
<link rel="stylesheet" href="/static/chosen/static/css/chosen.css">
<script src="/static/chosen/static/js/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    $(".chosen-select").chosen()
</script>
{% endblock %}


