{% extends "new/base_aplikasi.html" %}
{% block extrahead %}
{% endblock %}
{% block section %}Show{% endblock %}
{% block content %}
{% load number_format useringroup %}
<div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li>
            <a href="/"><i class="icon-home"></i></a>
        </li>
        <li>Data Approve BAP</li>

    </ul>
</div>
<div class="row-fluid">
    <div class="span6">
    <form class="well form-inline tabular" method="POST" action="/manop/proses_ver/" >{% csrf_token %}
         <input type="text"  id="id_catatan" name="catatan" placeholder="Catatan"  cols="150" rows="2"/>
         <button class="btn btn-info" type="submit">simpan</button>
     
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Data Approve BAP</h3>
        <table class="table table-bordered table-striped table_vam" >
            <thead>
                <tr><th>Chek</th>
                    <th>Norek</th>
                    <th>Tanggal</th>
                    <th>Barang</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>{% for p in data %}
                    <td><input type="checkbox"  value="{{p.check_kg.id }}"  name='checkeron' /></td>
                    <td><a data-toggle="modal" data-backdrop="static" class="label ttip_b" title="verivikasi">
                        {{p.check_kg.get_status_display}}</a>
                    </td>
                    <td>{{p.tanggal}}</td>
                    <td> {{p.baktif.get_jenis_barang_display}}</td>
                    <td>
                    <a href="/manop/{{p.no_akad}}/{{p.baktif.id}}/cek_kredit/" target="_blank" class="btn btn-warning btn-sm">{{p.no_akad}}</a>
                    </td>
                    <td>{{p.cu.first_name}}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
</div>
</form>

{% endblock %}

