<link type="text/css" href="/static/css/smoothness/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
<script src="/static/js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.meio.mask.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.autocomplete.pack.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
   $( "#id_start_date,#id_end_date" ).datepicker({changeMonth: true,
		changeYear: true,firstDay: 1,dateFormat: 'yy-mm-dd',
		}) 
   $("#id_start_date").datepicker({dateFormat: 'yy-mm-dd'});
   $("#id_end_date").datepicker({dateFormat: 'yy-mm-dd'});  
   $("#id_tanggal_pengiriman").datepicker({dateFormat: 'dd-mm-yy'});  

    $(".kode_cabang").autocomplete('/permintaan/cabang/cari/?ajax=1&jurnal=1', {
        formatItem: function (row, i, max) { return row[0] + "|" + row[1]; },
        formatMatch: function (row, i, max) { return row[0]; },
        formatResult: function(row) { return row[0] }
    });
});
</script>
<style>
table {width:100%;border-collapse: collapse;border-color: #ccc;}
th, td {
   font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
   }
table#tabel tr:nth-child(odd) {
   padding: 6px; margin: 1px; border: 1px solid #ccc;
}
table#tabel th	{
    background-color: #F60;border: 1px solid #ccc;
}
thead th,
tfoot td {
    color: #666;
    padding: 2px 5px;
    font-size: 11px;
    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
    var jdebet = 0; var jsaldo = 0; var jkredit = 0; 
    var t_debet = 0; var t_kredit = 0; var t_saldo_kas = 0; 
    $('table.list').each(function() {
        var i = 0;
        var debet = 0; var saldo_kas = 0; var kredit = 0; 
        $(this).find('td.debet').each(function() {
            debet += parseInt($(this).text().replace(/\./g, ''));
            jdebet += debet;
            i += 1;
        });
        $(this).find('td.saldo_kas').each(function() {
            saldo_kas += parseInt($(this).text().replace(/\./g, ''));
            jsaldo += saldo_kas;
        });

        //$(this).append("<tr><td colspan=3 class=r>"+ i +" Jurnal <strong>Total</strong></td><td class='s_debet r b'>"+ format_number(debet) +"</td><td class='s_kredit r b'>"+ format_number(kredit) +"</td><td class='s_saldo r b'>"+ format_number(saldo_kas) +"</td></tr>");
        //t_debet += debet;t_kredit += kredit;t_saldo += saldo_kas;
    //});
    $('#t_debet').text(format_number(t_debet));
    $('#t_kredit').text(format_number(t_kredit));
    $('#t_saldo').text(format_number(t_saldo));

});

</script>

