<link type="text/css" href="/static/css/smoothness/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
<script src="/static/js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.meio.mask.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#id_tanggal").datepicker({dateFormat: 'yy-mm-dd'});
    $("#id_start_date").datepicker({dateFormat: 'yy-mm-dd'});
    $("#id_end_date").datepicker({dateFormat: 'yy-mm-dd'});
    $('input:text').setMask();
       $('.tabular').submit(function(){
        $('input.uang').each(function () { $(this).val(to_number($(this).val())); });
        return true;
    });
    $('.r_ktp').keyup(function(){
    var val = $(this).val();
    if(isNaN(val)){
         val = val.replace(/[^0-9\.]/g,'');
         if(val.split('.').length > 1) 
             val =val.replace(/\.+$/,"");
    }
    $(this).val(val); 
    });
    $("input.r_ktp").keypress(function(event){
        if (event.charCode && (event.charCode < 46 || event.charCode > 57 || event.charCode == 47 ))
        { event.preventDefault(); }
    });
    $("input.r_nama").keypress(function(event){
        if (event.charCode && (event.charCode < 46 || event.charCode == 47 ))
        { event.preventDefault(); }
    });
});
</script>
<script type="text/javascript" href="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
    $(":radio.rad").click(function(){
    $(".formbarang, .formkendaraan").hide()
    if($(this).val() == "1"){
    $(".formbarang").show();
    }else{
    $(".formkendaraan").show();
    }
    });
    });
</script>
<script>
$(document).ready(function()
{
    $('#id_nama,#id_tempat,#id_alamat_ktp,#id_kelurahan_ktp,#id_kecamatan_ktp,#id_kotamadya_ktp,#id_kabupaten_ktp,#id_alamat_sim,#id_kelurahan_sim,#id_kecamatan_sim,#id_alamat_kantor,#id_merk,#id_type,#id_sn,#id_warna,#id_accesoris_barang1,#id_type_kendaraan,#id_no_polisi,#id_no_rangka,#id_no_mesin,#id_warna_kendaraan,#id_no_bpkb,#id_no_faktur,#id_stn_atas_nama,#id_no_rumah_ktp,#id_alamat_domisili,#id_no_rumah_domisili,#id_rt_domisili,#id_rw_domisili,#id_telepon_domisili,#id_hp_domisili,#id_kelurahan_domisili,#id_kecamatan_domisili,#id_kotamadya_domisili,#id_kabupaten_domisili').keyup(function()
    {
        $(this).val($(this).val().toUpperCase());
    });
});

$(document).ready(function()
{
    $('#id_email').keyup(function()
    {
        $(this).val($(this).val().toLowerCase());
    });
});
</script>

