{% extends "base_aplikasi.html" %}
{% block title %} {{ block.super }}
{% endblock %}
{% block section %}{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
{% load number_format useringroup %}
<h2 align="right">:: Menu Pencarian ::</h2>
<table align="center">
<tr>
<td>
<form action='/akadgadai/cari/' method='GET'>
<input type="text" name="rekening" size="30"  placeholder="Cari berdasarkan KWITANSI">
<input type ="submit" value="Cari " class="simpan" >
</form></td>
</tr>
<tr><td>
<form action="/nasabah/cari_nama/" method="get" size="10" align="center" height="27" >
<table align="center">
    <td><input type="text" name="q" placeholder="Cari berdasarkan Nama"></td>
    <td><input type="submit" value="Cari " class="cari"></td>    
</table>
</form>
</td>
</tr>
</table>
{% endblock %}

