{% extends "base_aplikasi.html" %}
{% block title %} {{ block.super }}
{% endblock %}
{% block section %}{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
{% load number_format useringroup %}
<h2 align="right">:: DAFTAR AKAD MELEBIHI NILAI TAKSIR ::</h2>


<table class="tableizer-table" cellpadding="0" cellspacing="0" border="1" bordercolor="silver " width="100%">
    <tr  class="tableizer-firstrow"><th>No</th><th>No Rek</th><th>Nama</th><th>Nilai (Rp)</th><th>JW</th><th>Transaksi</th><th>J.Tempo</th><th>Gerai</th><!--<th colspan= "5">MENU</th>--></tr>
{% for a in manop%}{%if a.manopgadai%}{%else%} {%if a.tanggal%}

    <tr>
    <td ALIGN="CENTER">{{ forloop.counter }}</td>
    <td ALIGN="CENTER"><a href="/akadgadai/{{a.id }}/view_verifikasi_manop/">{{ a.norek }}</a></td>
    <td ALIGN="LEFT"><a href="/akadgadai/{{a.id }}/show/">{{ a.agnasabah.nama}}</a></td>
    <td ALIGN="RIGHT">{{ a.nilai|number_format:0}}</td>
    <td ALIGN="CENTER">{{ a.jangka_waktu}}</td>
    <td ALIGN="CENTER">{{a.tanggal|date:" d-m-Y"}}</td>
    <td ALIGN="CENTER">{{ a.jatuhtempo|date:" d-m-Y"}}</td>
    <td ALIGN="LEFT">{{a.gerai}}</td>
    {% endif %}{% endif %}
{% endfor %}
</table>
{% endblock %}
