{% extends "base_aplikasi.html" %}
{% block section %}akadgadai{% endblock %}
{% block extrahead %}
{% include "alat/pelunasan.html" %}
{% endblock %}
{% block content %}
<h2 align="center">MENU INPUT PELUNASAN<small><small>An:{{ag.agnasabah.nama}}</small></small></h2>
{% if akad.lunas %}<h3 align="center">Nasabah ini Sudah Lunas </h>{% else %}
<form method="post" action="/manop/{{ag.id}}/pelunasan_manop/" class="tabular">{% csrf_token %}
<div id="login_form">
<table align="center">
    {{ form.as_table}}

        <td></td><td>{% include "alat/save.html" %}</td>
    </tr>
</table>
</div>

</form>{% endif %}
{% endblock %} 
