<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<title>Rekap {{ object.nama }}</title>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
@media screen, print {
body, td, th { font-size: 10px; font-family: verdana; }
}
@media print { .print { display: none; } }
</style>
<style type="text/css">
table.tableizer-table {border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif; font-size: 10px;} .tableizer-table td {padding: 3px; margin: 2px; border: 1px solid #ccc;}
.tableizer-table th {background-color: #FF9933; color: #FFF; font-weight: bold;}
</style>
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/js/master.js"></script>
<script language="javascript">

function printpage() { window.print(); }

//-->
</script>
</head>
<body onload="printpage();">
{% load number_format %}
<p class="print">[ <a href="#" onclick="printpage()">Print</a> | <a href="/pelunasan/">Kembali</a> ]</p>
<table width="100%">
<tr><td width="50" align="center">
<img src="/static/img/logoksu.png" width="80" height="50" align="left" hspace="20"/>
</td>
<td align="center">
<h4>DAFTAR PERPANJANG PINJAMAN BULANAN</h4>
<h5>GERAI : {{prpj.0.gerai.nama}} </h5>
<h6>Bulan : {% now "F Y" %}</h6></td></tr>
</table>
<table class="tableizer-table" cellpadding="0" cellspacing="0" border="1" bordercolor="silver " width="100%">
<tr>
    <th rowspan= "2">No</th>
    <th rowspan= "2">No Kwitansi</th>
    <th rowspan= "2">No Nasabah</th>
    <th rowspan= "2">Nama</th>
    <th rowspan= "2">Tanggal Transaksi</th>
    <th rowspan= "2">STATUS</th>
    <th rowspan= "2">PINJAMAN (Rp)</th>
    <th colspan = "2" >LABA PELUNASAN (Rp)</th>
</tr>
<tr>
    <th>JASA (Rp)</th>
    <th>Denda (Rp)</th>
<tr>
{% for p in prpj %}	
<tr>
    <td align="center">{{ forloop.counter }}</td>
    <td align="center">{{ p.norek }}</td>
    <td align="center">{{ p.agkredit.nonas }}</td>
    <td>{{ p.agkredit.agnasabah.nama}}</td>
    <td align="center">{{p.tanggal}}</td>
    <td align="center">{{p.status|default_if_none:"0" }}</td>
    <td align="right">{{ p.nilai|number_format:0 }}</td>
    <td align = "right">{{p.bea_jasa|number_format:0}}</td>
    <td align = "right">{{p.denda|number_format:0}}</td>
    
</tr>
{% endfor %}
<tr>
    <th colspan="6" class="r"><strong>Jumlah</strong></th>
    <th >Rp.{{nilai|number_format:0}}</th>
    <th >Rp.{{tj|number_format:0}}</th>
    <th >Rp.{{td|number_format:0}}</th>
    
</tr>
</table>
<br/>
<br/>
<table  width="100%" class="no-break">
<tr>
  <td align="center">KEUANGAN {{gr.nama}}<br />
<br />
<br />
<br />
<br />
<br />
{{gr.adm_gadai}}
  </td>
  <td align="center">Bandung, {% now "F Y" %}<br />
KANIT GADAI
<br />
<br />
<br />
<br />
<br />
GUNTUR WIRYAGURNITA
</td></tr>
</table>
